      <!-- Hero image -->
      <div class="jarallax d-none d-md-block" data-jarallax data-speed="0.35">
        <div class="jarallax-img" style="background-image: url(assets/img/team/urbaine_team_3.jpg);"></div>
        <div class="d-none d-xxl-block" style="height: 780px;"></div>
        <div class="d-none d-md-block d-xxl-none" style="height: 550px;"></div>
      </div>


      <!-- Breadcrumb -->
      <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>


      <!-- About company -->
      <section class="container">
        <h1 class="border-bottom pb-4">We are communication and engagement specialists.</h1>
        <div class="row pt-2 pt-md-3">
          <div class="col-md-6">
            <p class="fs-lg pe-lg-4 mb-1 mb-lg-4">At Urbaine, we know that good communication and tailored strategies drive better social and commercial outcomes for businesses. It is an essential foundation of relationship building, reputation management, and legacy infrastructure and urban place making. </p>
          </div>
          <div class="col-md-6">
            <p class="fs-lg ps-lg-4 mb-1 mb-lg-4">Our insights and experience across a broad range of sectors, and our relationship-based approach, ensures that communication and business strategies are aligned and effective to deliver value and impact.</p>
          </div>
        </div>
      </section>

      <!-- Image -->
      <section class="container text-center pb-5 mt-n2 mt-md-0 mb-md-2 mb-lg-4">
        <div class="position-relative rounded-3 overflow-hidden">

          <span class="position-absolute top-0 start-0 w-100 h-100 "></span>
          <img src="assets/img/team/urbaine_team_10.jpg" class="d-block w-100" alt="Cover image">
        </div>
      </section>
      

      <!-- Testimonials -->
      <section class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="card h-100 border-0 overflow-hidden px-md-4">
              <span class="bg-primary position-absolute top-0 start-0 w-100 h-100 opacity-10 d-none d-md-block"></span>
              <div class="card-body d-flex flex-column align-items-center justify-content-center position-relative zindex-2 p-0 pb-2 p-lg-4">
                <h2 class="h1 text-center text-md-start p-lg-4">What Our Clients Say About Urbaine</h2>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card border-0 shadow-sm p-4 p-xxl-5">
              <div class="d-flex justify-content-between pb-4 mb-2">
                <span class="btn btn-icon btn-primary btn-lg shadow-primary pe-none">
                  <i class="bx bxs-quote-left"></i>
                </span>
                <div class="d-flex">
                  <button type="button" id="testimonials-prev" class="btn btn-prev btn-icon btn-sm me-2">
                    <i class="bx bx-chevron-left"></i>
                  </button>
                  <button type="button" id="testimonials-next" class="btn btn-next btn-icon btn-sm ms-2">
                    <i class="bx bx-chevron-right"></i>
                  </button>
                </div>
              </div>
              
              <!-- Slider -->
              <div class="swiper mx-0 mb-md-n2 mb-xxl-n3" data-swiper-options='{
                "spaceBetween": 24,
                "loop": true,
                "pagination": {
                  "el": ".swiper-pagination",
                  "clickable": true
                },
                "navigation": {
                  "prevEl": "#testimonials-prev",
                  "nextEl": "#testimonials-next"
                }
              }'>
                <div class="swiper-wrapper">

                  <!-- Item -->
                  <div class="swiper-slide h-auto">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Mi semper risus ultricies orci pulvinar in at enim orci. Quis facilisis nunc pellentesque in ullamcorper sit. Lorem blandit arcu sapien, senectus libero, amet dapibus cursus quam. Eget pellentesque eu purus volutpat adipiscing malesuada. Purus nisi, tortor vel lacus.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="assets/img/avatar/14.jpg" width="60" class="rounded-circle" alt="Annette Black">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Annette Black</h6>
                          <span class="fs-sm text-muted">Strategic Advisor at Company LLC</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>

                  <!-- Item -->
                  <div class="swiper-slide h-auto">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Vestibulum nunc lectus auctor quis. Natoque lectus tortor lacus, eu. Nunc feugiat nisl maecenas nulla hac morbi. Vitae, donec facilisis sed nunc netus. Venenatis posuere faucibus enim est. Vel dignissim morbi blandit morbi tellus. Arcu ullamcorper quis enim.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="assets/img/avatar/13.jpg" width="60" class="rounded-circle" alt="Ralph Edwards">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Ralph Edwards</h6>
                          <span class="fs-sm text-muted">Head of Marketing at Lorem Ltd. </span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>

                  <!-- Item -->
                  <div class="swiper-slide h-auto">
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Ac at sed sit senectus massa. Massa ante amet ultrices magna porta tempor. Aliquet diam in et magna ultricies mi at. Lectus enim, vel enim egestas nam pellentesque et leo. Elit mi faucibus laoreet aliquam pellentesque sed aliquet integer massa. Orci leo tortor ornare.</p>
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="assets/img/avatar/11.jpg" width="60" class="rounded-circle" alt="Darrell Steward">
                        <div class="ps-3">
                          <h6 class="fw-semibold lh-base mb-0">Darrell Steward</h6>
                          <span class="fs-sm text-muted">Project Manager at Ipsum Ltd.</span>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>

                <!-- Pagination (bullets) -->
                <div class="swiper-pagination position-relative mt-5"></div>
              </div>        
            </div>
          </div>
        </div>
      </section>



      <!-- Team -->
      <section class="container py-5 my-md-3 my-lg-5">
        <h2 class="h1 text-center pt-1 pb-3 mb-3 mb-lg-4">Our Leadership</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="assets/img/team/Sarah-Dixon.jpg" class="rounded-3" alt="Sarah Dixon">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="https://www.linkedin.com/in/sarah-dixon-11910214/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Sarah Dixon</h3>
                <p class="fs-sm mb-0">Founder and Managing Partner</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="assets/img/team/Anita-Kharbanda.jpg" class="rounded-3" alt="Anita Kharbanda">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="https://www.linkedin.com/in/anitakharbanda/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Anita Kharbanda</h3>
                <p class="fs-sm mb-0">Managing Partner</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="assets/img/team/Rhianne-Bell.jpg" class="rounded-3" alt="Rhianne Bell">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="https://www.linkedin.com/in/rhiannebell/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Rhianne Bell</h3>
                <p class="fs-sm mb-0">Communication Director </p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="assets/img/team/Jo-Cranstoun.jpg" class="rounded-3" alt="Jo Cranstoun">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="https://www.linkedin.com/in/jo-cranstoun-12480214b/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Jo Cranstoun</h3>
                <p class="fs-sm mb-0">Communication Manager</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="assets/img/team/Genevieve-Anderson.jpg" class="rounded-3" alt="Genevieve Anderson">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="https://www.linkedin.com/in/genevieve-anderson-418b51245/#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Genevieve Anderson</h3>
                <p class="fs-sm mb-0">Communication Consultant</p>
              </div>
            </div>
          </div>

          <!-- Item -->
          <div class="col">
            <div class="card card-hover border-0 bg-transparent">
              <div class="position-relative">
                <img src="assets/img/team/Nellie-Baker.jpg" class="rounded-3" alt="Nellie Baker">
                <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
                  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
                  <div class="position-relative d-flex zindex-2">
                    <a href="https://www.linkedin.com/in/nelbaker/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white">
                      <i class="bx bxl-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body text-center p-3">
                <h3 class="fs-lg fw-semibold pt-1 mb-2">Nellie Baker</h3>
                <p class="fs-sm mb-0">Communication Consultant </p>
              </div>
            </div>
          </div>
        </div>
      </section>
