<!-- Breadcrumb -->
<nav class="container pt-5 pb-4 mb-lg-2" aria-label="breadcrumb">
  <ol class="breadcrumb pt-lg-3 mb-0">
    <li class="breadcrumb-item">
      {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item">
      {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
  </li>
  <li class="breadcrumb-item active" aria-current="page">
      {{ page.title }}
      {% else %}
      <div>{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</div>
  </li>
  {% endif %}
  {% endfor %}
  </ol>
</nav>