<!-- challenges -->
<hr>
<section class="position-relative py-5">
  <div class="container position-relative zindex-5  pt-md-2 pt-lg-3 ">
    <div class="row justify-content-center text-center mb-sm-2">
      <div class="col-xl-6 col-lg-7 col-md-9">
        <h2 class="h1">Facing one or more of the following challenges?</h2>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0 pb-xl-3">
      <!-- Item -->
      <div class="col position-relative">
        <div class="card border-0 bg-transparent p-md-1 p-xl-3">
          <div class="d-table mx-auto mt-3 mt-md-4">
            <img src="assets/img/icons/no-win.svg" width="100" alt="not-winning-business" />
          </div>
          <div class="card-body text-center">
            <h3 class="h4 pb-1 mb-2">We’re not winning any new business</h3>
          </div>
        </div>
      </div>
      <!-- Item -->
      <div class="col position-relative">
        <div class="card border-0 bg-transparent p-md-1 p-xl-3">
          <div class="d-table mx-auto mt-3 mt-md-4">
            <img src="assets/img/icons/process.svg" width="100" alt="process" />
          </div>
          <div class="card-body text-center">
            <h3 class="h4 pb-1 mb-2">We don’t have a sales strategy or process</h3>
          </div>
        </div>
        </div>
        <!-- Item -->
        <div class="col position-relative">
          <div class="card border-0 bg-transparent p-md-1 p-xl-3">
            <div class="d-table mx-auto mt-3 mt-md-4">
                <img src="assets/img/icons/selection.svg" width="100" alt="selection" />
            </div>
            <div class="card-body text-center">
              <h3 class="h4 pb-1 mb-2">We keep hiring the wrong salespeople</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
