<section class="container zindex-8">
  <div class="bg-secondary rounded-3 py-5 px-3 px-sm-4 px-lg-0">
    <div class="row align-items-center pt-1 pb-2 py-lg-4">
      <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 mb-4 pb-3 mb-md-0 pb-md-0">
        <h2 class="h1 mb-lg-4">Ready to win more sales?</h2>
        <p class="pb-2 pb-md-4 pb-lg-5">We are the leaders in strategic sales development. Talk to us if you’re not getting the results you want and you’re ready to kick goals.</p>
        <h3 class="mb-lg-4">Contact Info</h3>
        <ul class="list-unstyled pb-3 pb-md-4 pb-lg-5 mb-2">
          <li class="mb-2">
            <a href="tel:0435049140" class="nav-link d-flex align-items-center p-0">
              <i class="bx bx-phone-call fs-xl text-primary me-2"></i>
              Call Jason on {{site.phone}}
            </a>
          </li>
          <li class="mb-2">
            <a href="mailto:{{site.email}}" class="nav-link d-flex align-items-center p-0">
              <i class="bx bx-envelope fs-xl text-primary me-2"></i>
              {{site.email}}
            </a>
          </li>
        </ul>
        <div class="d-flex">
          <a href="#" class="btn btn-icon btn-outline-secondary btn-linkedin me-3">
            <i class="bx bxl-linkedin"></i>
          </a>
          <a href="#" class="btn btn-icon btn-outline-secondary btn-instagram">
            <i class="bx bxl-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-xl-1">
        <div class="card border-0 shadow-sm p-sm-2">

          <form class="card-body needs-validation" novalidate="" name="contact" method="POST" data-netlify="true" action="/success">
            <div class="mb-4">
              <label for="service" class="form-label fs-base">Service</label>
              <select id="service" class="form-select form-select-lg" required="">
                <option value="" selected="" disabled="">Choose the service you are interested in</option>
                <option value="Sales Team Evaluations">Sales Team Evaluations</option>
                <option value="New Business Development">New Business Development</option>
                <option value="Sales Coaching">Sales Coaching</option>
                <option value="Sales Management">Sales Management</option>
                <option value="Sales Process">Sales Process</option>
                <option value="Sales Strategy">Sales Strategy</option>
                <option value="Sales Team Evaluations">Sales Team Evaluations</option>
                <option value="Onboarding">Onboarding</option>
                <option value="Sales Candidate Accessment">Sales Candidate Accessment</option>
                <option value="Star Recruitment">Star Recruitment</option>
                <option value="Sales Enablement">Sales Enablement</option>
              </select>
              <div class="invalid-feedback">Please choose the service!</div>
            </div>
            <div class="mb-4">
              <label for="name" class="form-label fs-base">Full name</label>
              <input type="text" id="name" name="FullName"  class="form-control form-control-lg" required="">
              <div class="invalid-feedback">Please enter your name!</div>
            </div>
            <div class="mb-4">
              <label for="email" class="form-label fs-base">Email address</label>
              <input type="email" name="email" id="email" class="form-control form-control-lg" required="">
              <div class="invalid-feedback">Please provide a valid email address!</div>
            </div>
            <div class="mb-4">
              <label for="phone" class="form-label fs-base">Phone</label>
              <input type="telephone" name="Phone" id="phone" class="form-control form-control-lg" required="">
              <div class="invalid-feedback">Please provide a valid phone number!</div>
            </div>
            <div class="mb-4 pb-2">
              <label for="message" class="form-label fs-base">Message</label>
              <textarea name="yourMessage"  id="message" class="form-control form-control-lg" rows="3" placeholder="Tell us about how we can help you" required=""></textarea>
              <div class="invalid-feedback">Please enter you message!</div>
            </div>
            <button type="submit" class="btn btn-primary shadow-primary btn-lg">Send request</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>