<!-- Sales Process Benefits -->
<section class="container py-5 mx-auto my-2 my-md-4 my-lg-5" id="discover-more">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Benefits of effective Sales Enablement</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">
    
  </p>
  <div class="row row-cols-1 row-cols-lg-4 g-4 pb-xl-3">
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 rounded-circle shadow-sm p-3 mx-auto mb-4">
        <img src="assets/img/landing/software-company/features/01.svg" width="32" alt="Icon">
      </div>        <img src="{{site.baseurl}}/assets/img/icons/kpi.svg" width="86" alt="KPI Icon" />
      </div>
      <h3 class="text-primary">Identify and guide winning 
        behaviours 
      </h3>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/mindset.svg" width="83" alt="Minset Icon" />
      </div>
      <h3 class="text-primary">Increase sales with new and existing clients</h3>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/messaging.svg" width="83" alt="Messaging Icon" />
      </div>
      <h3 class="text-primary">Create alignment between sales and marketing
      </h3>

    </div>
    <div class="col text-center px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/pipeline.svg" width="82" alt="pipeline Icon" />
      </div>
      <h3 class="text-primary">
        Maintain accountability with your sales team
        </h3>
    </div>
  </div>
</section>
