<!-- Sales Process Benefits -->
<section class="container py-5 mx-auto my-2 my-md-4 my-lg-5" id="discover-more">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Benefits of effective Sales Enablement</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">
    
  </p>
  <div class="row row-cols-1 row-cols-lg-4 g-4 pb-xl-3">
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/win_1.svg" width="86" alt="Win Icon" />
      </div>
      <h4 class="text-primary">Identify and guide winning 
        behaviours 
      </h4>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/increase.svg" width="90" alt="Increase Icon" />
      </div>
      <h4 class="text-primary">Increase sales with new and existing clients</h4>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/link.svg" width="90" alt="Link Icon" />
      </div>
      <h4 class="text-primary">Create alignment between sales and marketing
      </h4>

    </div>
    <div class="col text-center px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/account.svg" width="90" alt="Accountability Icon" />
      </div>
      <h4 class="text-primary">
        Maintain accountability with your sales team
        </h4>
    </div>
  </div>
</section>
