<!-- Feature -->
<section class="container mb-md-3 mb-lg-5 pb-5">
    <div class="row align-items-center">
      <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
        <div class="pe-lg-5">
          <img src="{{site.baseurl}}/assets/img/icons/{{page.feature-img-1}}" width="360px" class=" d-flex mx-auto px-md-2 px-5" alt="{{page.feature-img-1}}">
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="h3 mb-sm-4">{{page.feature-heading-1}}</h2>
        <p class="d-xl-block pb-2 pb-md-3 mb-3">{{page.feature-txt-1}}</p>
        <div class="d-flex flex-column flex-sm-row">
          <a href="{{page.url-1}}" class="btn btn-primary">
            Learn more
            <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
<!-- Feature -->
  <section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
        <div class="ps-lg-5">
          <img src="{{site.baseurl}}/assets/img/icons/{{page.feature-img-2}}" width="360px" class=" d-flex mx-auto px-md-2 px-5" alt="{{page.feature-img-2}}">
        </div>
      </div>
      <div class="col-md-6 ordr-md-1">
        <h2 class="h3 mb-sm-4">{{page.feature-heading-2}}</h2>
        <p class="d-xl-block pb-2 pb-md-3 mb-3">{{page.feature-txt-2}}</p>
        <div class="d-flex flex-column flex-sm-row">
          <a href="{{page.url-2}}" class="btn btn-primary">
            Learn more
            <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
          </a>
        </div>
      </div>
    </div>
  </section>