<!-- Feature -->
<section class="container mb-md-3 mb-lg-5 pb-5">
  <div class="row align-items-center">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="pe-lg-5">
        <img src="{{site.baseurl}}/assets/img/icons/icp-2.svg" class="d-flex mx-auto" width="360px" alt="Image" />
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="h3 mb-sm-4">Develop your Ideal Client Profile and Buyer Personas</h2>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        Defining your target market or audience is a fundamental part of an effective sales strategy. The next step is to create an Ideal Client Profile because
        understanding your ideal client will help you sell more effectively.
      </p>
      <div class="border rounded-3 mb-4 mb-lg-5">
        <div class="row row-cols-1 row-cols-sm-2 g-0">
          <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
            <img src="{{site.baseurl}}/assets/img/icons/check.svg" width="24" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Personality & Values</h3>
            </div>
          </div>
          <div class="col d-flex align-items-center border-bottom p-3">
            <img src="{{site.baseurl}}/assets/img/icons/check.svg" width="24" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Worries & Fears</h3>
            </div>
          </div>

          <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
            <img src="{{site.baseurl}}/assets/img/icons/check.svg" width="24" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Pain points</h3>
            </div>
          </div>

          <div class="col d-flex align-items-center border-bottom p-3">
            <img src="{{site.baseurl}}/assets/img/icons/check.svg" width="24" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Demographics</h3>
            </div>
          </div>
          
          <div class="col d-flex align-items-center border-end-sm p-3">
            <img src="{{site.baseurl}}/assets/img/icons/check.svg" width="24" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Mindset & Attitude</h3>
            </div>
          </div>
          <hr class="d-sm-none" />
          <div class="col d-flex align-items-center p-3">
            <img src="{{site.baseurl}}/assets/img/icons/check.svg" width="24" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Beliefs & Opinions</h3>
            </div>
          </div>
        </div>
      </div>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        Armed with the above information, you can develop sales messaging that speaks to your ideal client and addresses their pain points. By profiling your ideal clients, your messaging becomes focused on value instead of price.</p>
      <div class="d-flex flex-column flex-sm-row">
        <a href="{{site.baseurl}}/contact" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">I need your help</a>
      </div>
    </div>
  </div>
</section>
