<div class="projects-4" data-background-color="gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto text-center">
        <h6 class="category text-muted">Our work</h6>
        <h2 class="title">Some of Our Awesome Projects - 4</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="card card-fashion card-background" style="background-image: url('assets/img/project14.jpg')">
          <div class="card-body">
            <div class="card-title text-left">
              <h2>
                <a href="#pablo"> The “crazy idea that could lead to a big future commission” project. </a>
              </h2>
            </div>
            <div class="card-footer text-left">
              <div class="stats">
                <span> <i class="now-ui-icons objects_globe"></i>The “Crazy idea” project </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="card-container">
          <div class="card card-fashion">
            <div class="card-title">
              <a href="#pablo"> </a>
              <h4><a href="#pablo"> </a><a href="#pablo"> The next time you’re on vacation, take advantage of all the work you can get done... </a></h4>
            </div>
            <div class="card-body">
              <div class="card-footer">
                <div class="stats">
                  <span> <i class="now-ui-icons education_paper"></i> The “I’m on vacation” project </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-fashion card-background" style="background-image: url('assets/img/project15.jpg')"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="card-container">
          <div class="card card-fashion card-background" style="background-image: url('assets/img/project17.jpg')"></div>
          <div class="card card-fashion arrow-left">
            <div class="card-title">
              <h4>
                <a href="#pablo"> The elements of Agile Project Management have been around for decades... </a>
              </h4>
            </div>
            <div class="card-body">
              <div class="card-footer">
                <div class="stats">
                  <span> <i class="now-ui-icons design_app"></i>The "Agile Project" project </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="card card-fashion card-background" style="background-image: url('assets/img/project16.jpg')">
          <div class="card-body">
            <div class="card-title text-left">
              <h2>
                <a href="#pablo">Performing a Project Premortem</a>
              </h2>
            </div>
            <div class="card-footer text-left">
              <div class="stats">
                <span> <i class="now-ui-icons media-2_sound-wave"></i>The "Premortem" project </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projects-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Some of Our Awesome Projects - 5</h2>
        <h4 class="description">
          This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.
        </h4>
        <div class="section-space"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 ml-auto">
        <div class="card card-background card-background-product card-raised" style="background-image: url('assets/img/project8.jpg')">
          <div class="card-body">
            <h2 class="card-title">Social Analytics</h2>
            <p class="card-description">
              Insight to help you create, connect, and convert. Understand Your Audience's Interests, Influence, Interactions, and Intent. Discover emerging
              topics and influencers to reach new audiences.
            </p>
            <label class="badge badge-neutral">Analytics</label>
          </div>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="now-ui-icons ui-2_chat-round"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Listen to Social Conversations</h4>
            <p class="description">Gain access to the demographics, psychographics, and location of unique people who talk about your brand.</p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="now-ui-icons business_chart-pie-36"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Performance Analyze</h4>
            <p class="description">Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights from easy-to-use reports.</p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-danger">
            <i class="now-ui-icons design-2_ruler-pencil"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Social Conversions</h4>
            <p class="description">Track actions taken on your website that originated from social, and understand the impact on your bottom line.</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-5 ml-auto mt-5">
        <div class="info info-horizontal">
          <div class="icon icon-warning">
            <i class="now-ui-icons users_single-02"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Work With Any Team</h4>
            <p class="description">Whether it’s for work or even the next family vacation, Trello helps your team.</p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-warning">
            <i class="now-ui-icons business_chart-bar-32"></i>
          </div>
          <div class="description">
            <h4 class="info-title">A Productivity Platform</h4>
            <p class="description">Integrate the apps your team already uses directly into your workflow.</p>
          </div>
        </div>
        <div class="info info-horizontal">
          <div class="icon icon-warning">
            <i class="now-ui-icons arrows-1_refresh-69"></i>
          </div>
          <div class="description">
            <h4 class="info-title">Always In Sync</h4>
            <p class="description">No matter where you are, Trello stays in sync across all of your devices.</p>
          </div>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="card card-background card-background-product card-raised" style="background-image: url('assets/img/project9.jpg')">
          <div class="card-body">
            <h2 class="card-title">Trello lets you work.</h2>
            <p class="card-description">
              Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and rewarding way.
            </p>
            <label class="badge badge-neutral">Trello</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
