<div class="container py-5 my-5">
  <!-- Pagination: Bullets -->
  <div
    class="swiper swiper-nav-onhover"
    data-swiper-options='{
      "spaceBetween": 20,
      "loop": true,
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
      },
      "navigation": {
        "prevEl": ".btn-prev",
        "nextEl": ".btn-next"
      }
    }'
  >
    <div class="swiper-wrapper">
      <!-- Item -->
      {% for image in site.static_files %} {% if image.path contains 'assets/img/team/gallery' %}
      <div class="swiper-slide">
        <div class="ratio ratio-16x9 bg-secondary">
          <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center display-4">
            <img src="{{ site.baseurl }}{{ image.path }}" style="object-fit: cover; width: 1600px;" alt="image" />
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    <!-- Prev button -->
    <button type="button" class="btn btn-prev btn-icon btn-sm me-2">
      <i class="bx bx-chevron-left"></i>
    </button>

    <!-- Next button -->
    <button type="button" class="btn btn-next btn-icon btn-sm ms-2">
      <i class="bx bx-chevron-right"></i>
    </button>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>
