    <!-- Page container -->
    <main class="docs-container pt-5">
      <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">
        
        <!-- Page title -->
        <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
          <div class="me-4">
            <h1 class="pb-1">Gallery (Lightbox)</h1>
            <p class="text-muted fs-lg mb-2">JavaScript based lightbox component for presenting various types of media.</p>
          </div>
        </div>

        

        <!-- Media: Image -->
        <section id="gallery-image" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Media: Image</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview1" role="tabpanel">
              <div class="gallery" style="max-width: 416px;">
                <a href="../assets/img/portfolio/courses/08.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="text-light">Gallery image caption</h6>'>
                  <img src="../assets/img/portfolio/courses/08.jpg" alt="Gallery thumbnail">
                  <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                </a>
              </div>
            </div>
            <div class="tab-pane fade" id="html1" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Image gallery --&gt;
&lt;div class=&quot;gallery&quot;&gt;
  &lt;a href=&quot;assets/img/portfolio/courses/08.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
    &lt;img src=&quot;assets/img/portfolio/courses/08.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
    &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption&lt;/div&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Media: Video -->
        <section id="gallery-video" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Media: Video</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview2" role="tabpanel">
              <div class="gallery" data-video="true" style="max-width: 416px;">
                <a href="https://www.youtube.com/watch?v=8KaJRw-rfn8" class="gallery-item video-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery video caption</h6>'>
                  <img src="../assets/img/portfolio/courses/01.jpg" alt="Gallery thumbnail">
                  <div class="gallery-item-caption fs-sm fw-medium">Gallery video caption</div>
                </a>
              </div>
            </div>
            <div class="tab-pane fade" id="html2" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Video gallery --&gt;
&lt;div class=&quot;gallery&quot; data-video=&quot;true&quot;&gt;
  &lt;a href=&quot;https://www.youtube.com/watch?v=8KaJRw-rfn8&quot; class=&quot;gallery-item video-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery video caption&lt;/h6&gt;'&gt;
    &lt;img src=&quot;assets/img/portfolio/courses/01.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
    &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery video caption&lt;/div&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Media: Iframe (Google map) -->
        <section id="gallery-iframe" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Media: Iframe (Google map)</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview3" role="tabpanel">
              <div class="gallery" style="max-width: 416px;">
                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91476818218!2d-74.11976253858133!3d40.69740344296443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sua!4v1568574342685!5m2!1sen!2sua" data-iframe="true" class="gallery-item rounded-2" data-sub-html='<h6 class="fs-sm text-light">Google map embed</h6>'>
                  <img src="../assets/img/portfolio/courses/map.jpg" alt="Gallery thumbnail">
                  <div class="gallery-item-caption fs-sm fw-medium">Google map embed</div>
                </a>
              </div>
            </div>
            <div class="tab-pane fade" id="html3" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Iframe (Google map) --&gt;
&lt;div class=&quot;gallery&quot;&gt;
  &lt;a href=&quot;https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91476818218!2d-74.11976253858133!3d40.69740344296443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sua!4v1568574342685!5m2!1sen!2sua&quot; data-iframe=&quot;true&quot; class=&quot;gallery-item rounded-2&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Google map embed&lt;/h6&gt;'&gt;
    &lt;img src=&quot;assets/img/portfolio/courses/map.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
    &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Google map embed&lt;/div&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Permanent hover state -->
        <section id="gallery-hover" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Permanent hover state</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview4" role="tabpanel">
              <div class="gallery" data-video="true" style="max-width: 526px;">
                <a href="https://www.youtube.com/watch?v=zPo5ZaH6sW8" class="gallery-item video-item is-hovered rounded-3" data-sub-html='<h6 class="fs-sm text-light">Urbaine Showreel by Marvin McKinney</h6>'>
                  <img src="../assets/img/about/gallery/01.jpg" alt="Gallery thumbnail">
                  <div class="gallery-item-caption p-4">
                    <h4 class="text-light mb-1">Urbaine</h4>
                    <p class="mb-0">Showreel by Marvin McKinney</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="tab-pane fade" id="html4" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Permanent hover state --&gt;
&lt;div class=&quot;gallery&quot; data-video=&quot;true&quot;&gt;
  &lt;a href=&quot;https://www.youtube.com/watch?v=zPo5ZaH6sW8&quot; class=&quot;gallery-item video-item is-hovered rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Urbaine Showreel by Marvin McKinney&lt;/h6&gt;'&gt;
    &lt;img src=&quot;assets/img/about/gallery/01.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
    &lt;div class=&quot;gallery-item-caption p-4&quot;&gt;
      &lt;h4 class=&quot;text-light mb-1&quot;&gt;Urbaine&lt;/h4&gt;
      &lt;p class=&quot;mb-0&quot;&gt;Showreel by Marvin McKinney&lt;/p&gt;
    &lt;/div&gt;
  &lt;/a&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Grid with gutters -->
        <section id="gallery-grid-gutters" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Grid with gutters</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview5" role="tabpanel">
              <div class="gallery row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 row-cols-xl-3 g-4" data-video="true">
                <div class="col">
                  <a href="../assets/img/portfolio/courses/02.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/02.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col">
                  <a href="https://www.youtube.com/watch?v=8KaJRw-rfn8" class="gallery-item video-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/01.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery video caption</div>
                  </a>
                </div>
                <div class="col">
                  <a href="../assets/img/portfolio/courses/03.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/03.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col">
                  <a href="../assets/img/portfolio/courses/08.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/08.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col">
                  <a href="../assets/img/portfolio/courses/07.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/07.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col">
                  <a href="../assets/img/portfolio/courses/06.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/06.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="html5" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Gallery grid with gutters --&gt;
&lt;div class=&quot;gallery row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4&quot; data-video=&quot;true&quot;&gt;

  &lt;!-- Item --&gt;
  &lt;div class=&quot;col&quot;&gt;
    &lt;a href=&quot;assets/img/portfolio/courses/02.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/portfolio/courses/02.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption&lt;/div&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;!-- Item --&gt;
  &lt;div class=&quot;col&quot;&gt;
    &lt;a href=&quot;https://www.youtube.com/watch?v=8KaJRw-rfn8&quot; class=&quot;gallery-item video-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/portfolio/courses/01.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery video caption&lt;/div&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;!-- Add as many items as you need --&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Grid no gutters -->
        <section id="gallery-grid-nogutters" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Grid no gutters</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview6" role="tabpanel">
              <div class="gallery row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 row-cols-xl-3 g-0" data-video="true">
                <div class="col border border-light">
                  <a href="../assets/img/portfolio/courses/02.jpg" class="gallery-item" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/02.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col border border-light">
                  <a href="https://www.youtube.com/watch?v=8KaJRw-rfn8" class="gallery-item video-item" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/01.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery video caption</div>
                  </a>
                </div>
                <div class="col border border-light">
                  <a href="../assets/img/portfolio/courses/03.jpg" class="gallery-item" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/03.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col border border-light">
                  <a href="../assets/img/portfolio/courses/08.jpg" class="gallery-item" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/08.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col border border-light">
                  <a href="../assets/img/portfolio/courses/07.jpg" class="gallery-item" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/07.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
                <div class="col border border-light">
                  <a href="../assets/img/portfolio/courses/06.jpg" class="gallery-item" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                    <img src="../assets/img/portfolio/courses/06.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="html6" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Gallery grid no gutters --&gt;
&lt;div class=&quot;gallery row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0&quot; data-video=&quot;true&quot;&gt;

  &lt;!-- Item --&gt;
  &lt;div class=&quot;col border border-light&quot;&gt;
    &lt;a href=&quot;assets/img/portfolio/courses/02.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/portfolio/courses/02.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption&lt;/div&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;!-- Item --&gt;
  &lt;div class=&quot;col border border-light&quot;&gt;
    &lt;a href=&quot;https://www.youtube.com/watch?v=8KaJRw-rfn8&quot; class=&quot;gallery-item video-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/portfolio/courses/01.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery video caption&lt;/div&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;!-- Add as many items as you need --&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Inside card -->
        <section id="gallery-card" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Inside card</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview7" role="tabpanel">
              <div class="card gallery" style="max-width: 418px;">
                <a href="../assets/img/portfolio/courses/03.jpg" class="gallery-item card-img-top" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                  <img src="../assets/img/portfolio/courses/03.jpg" alt="Gallery thumbnail">
                </a>
                <div class="card-body">
                  <h5 class="card-title">Card with gallery thumbnail</h5>
                  <p class="card-text fs-sm text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="html7" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Gallery inside card --&gt;
&lt;div class=&quot;card gallery&quot;&gt;
  &lt;a href=&quot;assets/img/portfolio/courses/03.jpg&quot; class=&quot;gallery-item card-img-top&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
    &lt;img src=&quot;assets/img/portfolio/courses/03.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
  &lt;/a&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h5 class=&quot;card-title&quot;&gt;Card with gallery thumbnail&lt;/h5&gt;
    &lt;p class=&quot;card-text fs-sm text-muted&quot;&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-sm btn-primary&quot;&gt;Go somewhere&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Inside carousel -->
        <section id="gallery-carousel" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Inside carousel</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview8" role="tabpanel">
              <div class="position-relative px-md-5">
                <button type="button" id="prev" class="btn btn-prev btn-icon btn-sm position-absolute top-50 translate-middle-y start-0 d-none d-md-inline-flex mt-n4">
                  <i class="bx bx-chevron-left"></i>
                </button>
                <button type="button" id="next" class="btn btn-next btn-icon btn-sm position-absolute top-50 translate-middle-y end-0 d-none d-md-inline-flex mt-n4">
                  <i class="bx bx-chevron-right"></i>
                </button>
                <div class="swiper swiper-nav-onhover pt-1" data-swiper-options='{
                  "slidesPerView": 1,
                  "spaceBetween": 20,
                  "loop": true,
                  "pagination": {
                    "el": ".swiper-pagination",
                    "clickable": true
                  },
                  "navigation": {
                    "prevEl": "#prev",
                    "nextEl": "#next"
                  },
                  "breakpoints": {
                    "500": {
                      "slidesPerView": 2,
                      "spaceBetween": 16
                    },
                    "1200": {
                      "slidesPerView": 2,
                      "spaceBetween": 16
                    },
                    "1650": {
                      "slidesPerView": 3,
                      "spaceBetween": 24
                    }
                  }
                }'>
                  <div class="swiper-wrapper gallery" data-video="true">
                    <div class="swiper-slide">
                      <a href="../assets/img/portfolio/courses/08.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                        <img src="../assets/img/portfolio/courses/08.jpg" alt="Gallery thumbnail">
                        <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                      </a>    
                    </div>
                    <div class="swiper-slide">
                      <a href="https://www.youtube.com/watch?v=8KaJRw-rfn8" class="gallery-item video-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                        <img src="../assets/img/portfolio/courses/01.jpg" alt="Gallery thumbnail">
                        <div class="gallery-item-caption fs-sm fw-medium">Gallery video caption</div>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="../assets/img/portfolio/courses/03.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                        <img src="../assets/img/portfolio/courses/03.jpg" alt="Gallery thumbnail">
                        <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="../assets/img/portfolio/courses/07.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption</h6>'>
                        <img src="../assets/img/portfolio/courses/07.jpg" alt="Gallery thumbnail">
                        <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption</div>
                      </a>
                    </div>
                  </div>
                  <div class="swiper-pagination position-relative pt-3 pt-sm-4 mt-4"></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="html8" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Gallery inside carousel --&gt;
&lt;div class=&quot;position-relative px-md-5&quot;&gt;
  &lt;button type=&quot;button&quot; id=&quot;prev&quot; class=&quot;btn btn-prev btn-icon btn-sm position-absolute top-50 translate-middle-y start-0 d-none d-md-inline-flex mt-n4&quot;&gt;
    &lt;i class=&quot;bx bx-chevron-left&quot;&gt;&lt;/i&gt;
  &lt;/button&gt;
  &lt;button type=&quot;button&quot; id=&quot;next&quot; class=&quot;btn btn-next btn-icon btn-sm position-absolute top-50 translate-middle-y end-0 d-none d-md-inline-flex mt-n4&quot;&gt;
    &lt;i class=&quot;bx bx-chevron-right&quot;&gt;&lt;/i&gt;
  &lt;/button&gt;
  &lt;div class=&quot;swiper pt-1&quot; data-swiper-options='{
    &quot;slidesPerView&quot;: 1,
    &quot;spaceBetween&quot;: 20,
    &quot;loop&quot;: true,
    &quot;pagination&quot;: {
      &quot;el&quot;: &quot;.swiper-pagination&quot;,
      &quot;clickable&quot;: true
    },
    &quot;navigation&quot;: {
      &quot;prevEl&quot;: &quot;#prev&quot;,
      &quot;nextEl&quot;: &quot;#next&quot;
    },
    &quot;breakpoints&quot;: {
      &quot;500&quot;: {
        &quot;slidesPerView&quot;: 2,
        &quot;spaceBetween&quot;: 16
      },
      &quot;700&quot;: {
        &quot;slidesPerView&quot;: 2,
        &quot;spaceBetween&quot;: 24
      },
      &quot;1000&quot;: {
        &quot;slidesPerView&quot;: 3,
        &quot;spaceBetween&quot;: 24
      }
    }
  }'&gt;
    &lt;div class=&quot;swiper-wrapper gallery&quot; data-video=&quot;true&quot;&gt;

      &lt;!-- Item --&gt;
      &lt;div class=&quot;swiper-slide&quot;&gt;
        &lt;a href=&quot;assets/img/portfolio/courses/08.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
          &lt;img src=&quot;assets/img/portfolio/courses/08.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
          &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption&lt;/div&gt;
        &lt;/a&gt;    
      &lt;/div&gt;

      &lt;!-- Item --&gt;
      &lt;div class=&quot;swiper-slide&quot;&gt;
        &lt;a href=&quot;https://www.youtube.com/watch?v=8KaJRw-rfn8&quot; class=&quot;gallery-item video-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
          &lt;img src=&quot;assets/img/portfolio/courses/01.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
          &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery video caption&lt;/div&gt;
        &lt;/a&gt;
      &lt;/div&gt;

      &lt;!-- Item --&gt;
      &lt;div class=&quot;swiper-slide&quot;&gt;
        &lt;a href=&quot;assets/img/portfolio/courses/03.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
          &lt;img src=&quot;assets/img/portfolio/courses/03.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
          &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption&lt;/div&gt;
        &lt;/a&gt;
      &lt;/div&gt;

      &lt;!-- Item --&gt;
      &lt;div class=&quot;swiper-slide&quot;&gt;
        &lt;a href=&quot;assets/img/portfolio/courses/07.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption&lt;/h6&gt;'&gt;
          &lt;img src=&quot;assets/img/portfolio/courses/07.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
          &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption&lt;/div&gt;
        &lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;swiper-pagination position-relative pt-3 pt-sm-4 mt-4&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>


        <!-- Thumbnails -->
        <section id="gallery-thumbnails" class="py-5 ps-lg-2 ps-xxl-0">
          <h2 class="h4">Thumbnails</h2>
          <div class="tab-content pt-1">
            <div class="tab-pane fade show active" id="preview9" role="tabpanel">
              <div class="gallery row g-4" data-thumbnails="true">
                <div class="col-md-5">
                  <a href="../assets/img/about/gallery/01.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption 1</h6>'>
                    <img src="../assets/img/about/gallery/01.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption 1</div>
                  </a>
                </div>
                <div class="col-md-3 col-sm-5">
                  <a href="../assets/img/about/gallery/02.jpg" class="gallery-item rounded-3 mb-4" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption 2</h6>'>
                    <img src="../assets/img/about/gallery/02.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption 2</div>
                  </a>
                  <a href="../assets/img/about/gallery/03.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption 3</h6>'>
                    <img src="../assets/img/about/gallery/03.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption 3</div>
                  </a>
                </div>
                <div class="col-md-4 col-sm-7">
                  <a href="../assets/img/about/gallery/04.jpg" class="gallery-item rounded-3 mb-4" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption 4</h6>'>
                    <img src="../assets/img/about/gallery/04.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption 4</div>
                  </a>
                  <a href="../assets/img/about/gallery/05.jpg" class="gallery-item rounded-3" data-sub-html='<h6 class="fs-sm text-light">Gallery image caption 5</h6>'>
                    <img src="../assets/img/about/gallery/05.jpg" alt="Gallery thumbnail">
                    <div class="gallery-item-caption fs-sm fw-medium">Gallery image caption 5</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="html9" role="tabpanel">
              <pre class="line-numbers"><code class="lang-html">&lt;!-- Gallery with thumbnails --&gt;
&lt;div class=&quot;gallery row g-4&quot; data-thumbnails=&quot;true&quot;&gt;

  &lt;!-- Item --&gt;
  &lt;div class=&quot;col-md-5&quot;&gt;
    &lt;a href=&quot;assets/img/about/gallery/01.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption 1&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/about/gallery/01.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption 1&lt;/div&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;div class=&quot;col-md-3 col-sm-5&quot;&gt;

    &lt;!-- Item --&gt;
    &lt;a href=&quot;assets/img/about/gallery/02.jpg&quot; class=&quot;gallery-item rounded-3 mb-4&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption 2&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/about/gallery/02.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption 2&lt;/div&gt;
    &lt;/a&gt;

    &lt;!-- Item --&gt;
    &lt;a href=&quot;assets/img/about/gallery/03.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption 3&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/about/gallery/03.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption 3&lt;/div&gt;
    &lt;/a&gt;
  &lt;/div&gt;

  &lt;div class=&quot;col-md-4 col-sm-7&quot;&gt;

    &lt;!-- Item --&gt;
    &lt;a href=&quot;assets/img/about/gallery/04.jpg&quot; class=&quot;gallery-item rounded-3 mb-4&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption 4&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/about/gallery/04.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption 4&lt;/div&gt;
    &lt;/a&gt;

    &lt;!-- Item --&gt;
    &lt;a href=&quot;assets/img/about/gallery/05.jpg&quot; class=&quot;gallery-item rounded-3&quot; data-sub-html='&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Gallery image caption 5&lt;/h6&gt;'&gt;
      &lt;img src=&quot;assets/img/about/gallery/05.jpg&quot; alt=&quot;Gallery thumbnail&quot;&gt;
      &lt;div class=&quot;gallery-item-caption fs-sm fw-medium&quot;&gt;Gallery image caption 5&lt;/div&gt;
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>
      </div>
    </main>