<!-- home-services -->
      <section class="container py-5 my-md-3 my-lg-4 my-xl-5">
        <div class="row align-items-center align-items-xl-end py-2 pb-sm-3">
          <div class="col-md-6 mb-5 mb-md-0">
            <div style="max-width: 570px;">
              <h2 class="h1 pb-3 mb-2 mb-md-3">Your Path to Sales Success</h2>
              <div class="row row-cols-1 row-cols-sm-2 gx-lg-5 g-4">
                <div class="col d-md-flex d-xl-block align-items-center pt-1 pt-sm-2 pt-md-0 pt-xl-3">
                  <div class="d-table bg-secondary rounded flex-shrink-0 p-2 mb-3 me-md-3 me-xl-0">
                    <img src="assets/img/icons/sales-training-coaching-a.svg" width="40" class="d-block m-1" alt="Icon">
                  </div>
                  <h3 class="h5 pb-sm-1 mb-2">
                    <span class="d-md-none d-xl-block">Sales Training &
                        Coaching</span>
                    <span class="fs-base text-nav d-none d-md-block d-xl-none">Sales Training &
                        Coaching</span>
                  </h3>
                  <p class="fs-sm mb-0 d-md-none d-xl-block">We use a strategic approach to develop a customised plan.
                </p>
                </div>
                <div class="col d-md-flex d-xl-block align-items-center pt-1 pt-sm-2 pt-md-0 pt-xl-3">
                  <div class="d-table bg-secondary rounded flex-shrink-0 p-2 mb-3 me-md-3 me-xl-0">
                    <img src="assets/img/icons/recruitment-a.svg" width="40" class="d-block m-1" alt="Icon">
                  </div>
                  <h3 class="h5 pb-sm-1 mb-2">
                    <span class="d-md-none d-xl-block">Sales Recruitment</span>
                    <span class="fs-base text-nav d-none d-md-block d-xl-none">Sales Recruitment</span>
                  </h3>
                  <p class="fs-sm mb-0 d-md-none d-xl-block">We use an award-winning tool to recruit the best salespeople.</p>
                </div>
                <div class="col d-md-flex d-xl-block align-items-center pt-1 pt-sm-2 pt-md-0 pt-xl-3">
                  <div class="d-table bg-secondary rounded flex-shrink-0 p-2 mb-3 me-md-3 me-xl-0">
                    <img src="assets/img/icons/crm-a.svg" width="40" class="d-block m-1" alt="Icon">
                  </div>
                  <h3 class="h5 pb-sm-1 mb-2">
                    <span class="d-md-none d-xl-block">CRM Sales Enablement</span>
                    <span class="fs-base text-nav d-none d-md-block d-xl-none">CRM Sales Enablement</span>
                  </h3>
                  <p class="fs-sm mb-0 d-md-none d-xl-block">We partner with Membrain to align your sales technology.</p>
                </div>
                <div class="col d-md-flex d-xl-block align-items-center pt-1 pt-sm-2 pt-md-0 pt-xl-3">
                  <div class="d-table bg-secondary rounded flex-shrink-0 p-2 mb-3 me-md-3 me-xl-0">
                    <img src="assets/img/icons/team-evaluate.svg" width="40" class="d-block m-1" alt="Icon">
                  </div>
                  <h3 class="h5 pb-sm-1 mb-2">
                    <span class="d-md-none d-xl-block">Sales Team Evaluations</span>
                    <span class="fs-base text-nav d-none d-md-block d-xl-none">Sales Team Evaluations</span>
                  </h3>
                  <p class="fs-sm mb-0 d-md-none d-xl-block">Partnering with industry leader Objective Management Group (OMG), we use their award-winning Sales Team Evaluation Tool to assess your sales team.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="rellax position-relative rounded-3 mb-xl-5" style="box-shadow: -7px 12px 60px 0 rgba(126,123,160, .12);" data-rellax-percentage="0.5" data-rellax-speed="1.3" data-disable-parallax-down="xl">
              <img src="assets/img/sales-team.jpg" class="d-block rounded-3" alt="Stats screen">
            </div>
          </div>
        </div>
      </section>