      <!-- About -->
      <section class="container pt-5 mt-2 mt-md-4 mt-lg-5">
        <div class="row pt-xl-3">
          <div class="col-md-5 text-center text-md-start pb-5">
            <h1 class="mb-4">We build high-performance sales teams that create and win new business opportunities. </h1>
            <p class="fs-lg">With 30+ years’ experience, Managing Director Jason Howes has developed national sales teams and managed top accounts, such as Bunnings, Mitre10, Natbuild and major resellers. </p>
            <p class="fs-lg pb-lg-3 mb-4">He has had overwhelming success identifying and winning new business opportunities in a variety of industries, including retail, trade, manufacturing, importing, wholesale and merchandising, exceeding $10M annually. In addition, he’s managed $100M+ sales budgets.</p>
            <a href="{{site.baseurl}}/why-arrow/our-team" class="btn btn-primary shadow-primary btn-lg">More About Us <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i></a>
          </div>
          <div class="col-xl-6 col-md-7 offset-xl-1 pb-4 pb-sm-3 pb-lg-0 mb-4 mb-sm-5 mb-lg-0">
            <img src="{{site.baseurl}}/assets/img/team/jason-howes.jpg" class="rounded-3 shadow-sm" alt="Jason Howes">
          </div>
        </div>
      </section>