<!-- image-text -->
<section class="container py-5 my-2 my-md-4 my-lg-5">
  <!-- Row 1 -->
  <div class="row align-items-lg-center pb-5 mb-2 mb-lg-4 mb-xl-5">
    <div class="col-md-5 mb-4 mb-md-0">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="{{site.baseurl}}/assets/img/team/jason-howes.jpg" class="rounded-3" alt="Ralph Edwards" />
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/jason-howes-08507360/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/arrowexecsales/" class="btn btn-icon btn-secondary btn-instagram btn-sm bg-white">
                <i class="bx bxl-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="ps-xl-5 ms-md-2 ms-lg-4">
        <h2 class="h1 mb-0">Jason Howes</h2>
        <p class="fs-sm mb-3 mb-sm-4">Founder and Managing Director</p>
        <p>
          A trusted sales training expert with 30+ years’ experience, Jason has been instrumental in building high-performance sales teams for large B2B
          companies. His down-to-earth approach leaves no stone unturned to address every aspect of your sales team leading to exceptional outcomes.
        </p>
        <p>
          Putting integrity and honesty first, Jason develops a partnership for success, boosting your sales effectiveness using a tailored approach. Addressing
          the entire sales journey, he uses his expertise to Assess, Coach and Execute to raise the bar and ensure your sales team maximises its potential.
        </p>
        <p>
          Committed to incorporating the latest technology, Jason implements award-winning innovative sales and prospecting tools to take your sales to the next
          level.
        </p>
        <p>
          On a more personal note, Jason played Aussie rules as a lad and is a devoted Collingwood (Pies) supporter. He also played high-level competitive
          squash.
        </p>
        <p class="">
          His love for sport combined with a competitive nature has spurred him on to develop excellent leadership skills and an unstoppable drive to succeed.
        </p>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row align-items-lg-center pt-md-3 pb-5 mb-2 mb-lg-4 mb-xl-5">
    <div class="col-md-5 order-md-2 mb-4 mb-md-0">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="{{site.baseurl}}/assets/img/team/nicole-owens.jpg" class="rounded-3" alt="Nicole Owens" />
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/nicole-owens-5136aa2a/?originalSubdomain=au" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/arrowexecsales/" class="btn btn-icon btn-secondary btn-instagram btn-sm bg-white">
                <i class="bx bxl-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 order-md-1">
      <div class="pe-xl-5 me-md-2 me-lg-4">
        <h2 class="h1 mb-0">Nicole Owens</h2>
        <p class="fs-sm mb-3 mb-sm-4">Sales Evaluation and Recruitment Manager</p>
        <p>
          A sales recruitment and sales evaluation specialist, Nicole brings a wealth of recruitment knowledge to help you hire the best sales professionals who
          are aligned with your business values and culture. Certified to use the world’s no.1 OMG sales team assessment tool, she has been pivotal in helping
          B2B companies recruit with confidence.
        </p>
        <p>
          Accredited to use the sales-specific STAR Recruitment method, Nicole guides you professionally through a step-by-step process to find the best sales
          professionals for your team who will win more sales and close more deals. She will save you valuable time ensuring you’ll only interview candidates
          who fit your criteria, and can and will sell.
        </p>
        <p>
          With a background in pharmaceutical sales, Nicole has a keen understanding of the challenges B2B companies face when recruiting new salespeople. Her
          insight has proven invaluable to hire the right person for the job.
        </p>
        <p>
          Born and raised in Canada, Nicole grew up competing in downhill skiing. Determined to make the most of every opportunity, she thrives on winning and
          getting the best results for her clients.
        </p>
      </div>
    </div>
  </div>
</section>
