<section class="py-15 py-xl-20">
      <div class="container">
        <div class="row g-0 gallery-1">
          <div class="col-lg-3">
            <a href="about.html" class="card card-arrow card-hover-arrow equal-lg-1-1 text-white bg-black">
              <div class="card-wrap">
                <div class="card-header pb-0">
                  <i class="bi bi-instagram fs-3"></i>
                </div>
                <div class="card-footer mt-auto">
                  <h5 class="fs-lg">@webuildthemes</h5>
                </div>
              </div>
            </a>
          </div>


          <div class="col-6 col-md-3">
            <figure class="media media-image equal-1-1" data-bp="{'imgSrc': './assets/images/insta-1.jpg' , 'parentGalleryClass': 'gallery-1' }">
              <span style="background-image: url('assets/images/insta-1.jpg')">
              </span>
            </figure>          </div>
          <div class="col-6 col-md-3">
            <figure class="media media-image equal-1-1" data-bp="{'imgSrc': './assets/images/insta-2.jpg' , 'parentGalleryClass': 'gallery-1' }">
              <span style="background-image: url('assets/images/insta-2.jpg')">
              </span>
            </figure>          </div>
          <div class="col-6 col-md-3">
            <figure class="media media-image equal-1-1" data-bp="{'imgSrc': './assets/images/insta-3.jpg' , 'parentGalleryClass': 'gallery-1' }">
              <span style="background-image: url('assets/images/insta-3.jpg')">
              </span>
            </figure>          </div>
          <div class="col-6 col-md-3">
            <figure class="media media-image equal-1-1" data-bp="{'imgSrc': './assets/images/insta-4.jpg' , 'parentGalleryClass': 'gallery-1' }">
              <span style="background-image: url('assets/images/insta-4.jpg')">
              </span>
            </figure>          </div>
          <div class="col-6 col-md-3">
            <figure class="media media-image equal-1-1" data-bp="{'imgSrc': './assets/images/insta-5.jpg' , 'parentGalleryClass': 'gallery-1' }">
              <span style="background-image: url('assets/images/insta-5.jpg')">
              </span>
            </figure>          </div>
          <div class="col-6 col-md-3">
            <figure class="media media-image equal-1-1" data-bp="{'imgSrc': './assets/images/insta-6.jpg' , 'parentGalleryClass': 'gallery-1' }">
              <span style="background-image: url('assets/images/insta-6.jpg')">
              </span>
            </figure>          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <figure class="media media-image equal-2-1 equal-lg-1-1" data-bp="{'imgSrc': './assets/images/insta-7.jpg' , 'parentGalleryClass': 'gallery-1' }">
              <span style="background-image: url('assets/images/insta-7.jpg')">
              </span>
            </figure>          </div>
        </div>
      </div>
    </section>