<!-- Feature -->
<section class="container mb-md-3 mb-lg-5 pb-5">
  <div class="row align-items-center">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="pe-lg-5">
        <img src="{{site.baseurl}}/assets/img/membrain/crm-1.jpg" width="600px" class="d-flex mx-auto px-md-2 px-5" alt="{{page.feature-img-1}}" />
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="h3 mb-sm-4">A Fully Integrated Platform</h2>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        In addition to the opportunity management functionality expected of every CRM solution, Membrain has been designed to sit at the very centre of the
        salesperson's daily workflows, spanning the critical disciplines of planning, prospecting, opportunity management and account growth.
      </p>
    </div>
  </div>
</section>
<!-- Feature Left -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
  <div class="row align-items-center">
    <div class="col-md-6 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="ps-lg-5">
        <img src="{{site.baseurl}}/assets/img/membrain/Grid.m4v" width="600px" class="d-flex mx-auto px-md-2 px-5" alt="{{page.feature-img-2}}" />
      </div>
    </div>
    <div class="col-md-6 ordr-md-1">
      <h2 class="h3 mb-sm-4">Grow Your Best Accounts</h2>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        Always know who your best customers are with Membrain's Account Growth offering. Membrain guides your teams to expand relationships, better understand
        customers, create and execute growth plans, and gain the insights needed to super power your efforts.
      </p>
    </div>
  </div>
</section>
<!-- Feature -->
<section class="container mb-md-3 mb-lg-5 pb-5">
  <div class="row align-items-center">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="pe-lg-5">
        <img
          src="{{site.baseurl}}/assets/img/membrain/membrain-screenshot-spinner-sales-process.jpeg"
          width="600px"
          class="d-flex mx-auto px-md-2 px-5"
          alt="{{page.feature-img-1}}"
        />
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="h3 mb-sm-4">Improve Your Win Rates</h2>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        In addition to the opportunity management functionality expected of every CRM solution, Membrain has been designed to sit at the very centre of the
        salesperson's daily workflows, spanning the critical disciplines of planning, prospecting, opportunity management and account growth.
      </p>
    </div>
  </div>
</section>
<!-- Feature Left -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
  <div class="row align-items-center">
    <div class="col-md-6 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="ps-lg-5">
        <img
          src="{{site.baseurl}}/assets/img/membrain/Prospecting_Screenshot.png"
          width="600px"
          class="d-flex mx-auto px-md-2 px-5"
          alt="{{page.feature-img-2}}"
        />
      </div>
    </div>
    <div class="col-md-6 ordr-md-1">
      <h2 class="h3 mb-sm-4">Build Quality Pipelines</h2>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        Always know who your best customers are with Membrain's Account Growth offering. Membrain guides your teams to expand relationships, better understand
        customers, create and execute growth plans, and gain the insights needed to super power your efforts.
      </p>
    </div>
  </div>
</section>
<!-- Feature -->
<section class="container mb-md-3 mb-lg-5 pb-5">
  <div class="row align-items-center">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="pe-lg-5">
        <img
          src="{{site.baseurl}}/assets/img/membrain/membrain-screenshot-spinner-sales-enablement.jpeg"
          width="600px"
          class="d-flex mx-auto px-md-2 px-5"
          alt="{{page.feature-img-1}}"
        />
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="h3 mb-sm-4">Enable Your Team to Drive Successful Behaviors</h2>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        Membrain drives winning behaviors by placing content in context, enabling skills development and alignment. Membrain allows you to integrate educational
        information, sales collateral, and guides in the right context - your sales process.
      </p>
    </div>
  </div>
</section>
<!-- Feature Left -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
  <div class="row align-items-center">
    <div class="col-md-6 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
      <div class="ps-lg-5">
        <img
          src="{{site.baseurl}}/assets/img/membrain/screenshot-decision-team-map.jpeg"
          width="600px"
          class="d-flex mx-auto px-md-2 px-5"
          alt="{{page.feature-img-2}}"
        />
      </div>
    </div>
    <div class="col-md-6 ordr-md-1">
      <h2 class="h3 mb-sm-4">Effectively Coach Your Sales Team</h2>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        Hard to find the time to coach? Difficult to know who to coach, how, and when? Do you have to rely on a small group of top performers to reach revenue
        targets? Sales coaching has proven to be the leading driver in increasing sales performance, but too few do it well.
      </p>

      <p>
        Membrain equips sales leaders to effectively coach their team by providing the information, context, and tools needed to coach sales teams to higher
        performance.
      </p>
    </div>
  </div>
</section>
<!-- Feature -->
<section class="container mb-md-3 mb-lg-5 pb-5">
    <div class="row align-items-center">
      <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
        <div class="pe-lg-5">
          <img
            src="{{site.baseurl}}/assets/img/membrain/screenshot-performance.webp"
            width="600px"
            class="d-flex mx-auto px-md-2 px-5"
            alt="{{page.feature-img-1}}"
          />
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="h3 mb-sm-4">Continually Optimize Your Sales Strategy</h2>
        <p>Does your team rely on discounts to win? Is your pipeline full of deals that will never close? Can’t trust your forecasts?</p>
        <p>
          Membrain helps you continually optimize your sales strategy to build predictable sales performance and a sustainable competitive advantage. Membrain
          gives you all the tools you need to stay one step ahead.
        </p>
      </div>
    </div>
  </section>




<section class="py-5 my-5">
  <div class="container">
    <div class="row justify-content-around">
      <img src="{{site.baseurl}}/assets/img/membrain/crm-3.jpg" />
    </div>
  </div>
</section>

<section class="feature-large bg-dark py-5 my-5 text-white">
  <div class="container">
    <h1 class="display-2 text-center text-primary pt-5 ">Find Out More</h1>
    <div class="row text-center justify-content-around">
      <div class="col-10">
        <div class="">
          <p class="lead">
            Book a demo, and find out more about how Outcome-Centric Selling® powered by Membrain could power your organisation's CRM to new heights.
          </p>
          <p>
            Whether you're looking to replace a traditional existing CRM or get significantly more from your current salesforce.com instance, we're confident we
            can help you significantly raise the level of CRM effectiveness in your organisation - and create an environment where your salespeople see the
            system as a helpful guide to their future success, rather than a frustrating auditor of their past activity.
          </p>
          <a class="btn btn-primary type--uppercase" href="{{site.baseurl}}/contact">
            <span class="btn__text btn-lg"> Find out more </span>
          </a>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section>
  <div class="container">
    <div class="row justify-content-around">
      <img src="{{site.baseurl}}/assets/img/membrain/crm-5.jpg" />
    </div>
  </div>
</section>
