<!-- Navbar -->
<!-- Remove "fixed-top" class to make navigation bar scrollable with the page -->

<header class="header navbar navbar-expand-lg {{page.nav}} navbar-sticky">
  <div class="container px-3">
    <a href="{{site.baseurl}}/" class="navbar-brand pe-3">
      <img src="{{site.baseurl}}/assets/img/{{page.logo}}" alt="Arrow Logo">
    </a>
    <div id="navbarNav" class="offcanvas offcanvas-end {{page.colour}}">
      <div class="offcanvas-header border-bottom border-light">
        <h5 class="offcanvas-title {{page.menu}}">Menu</h5>
        <button type="button" class="btn-close {{page.button}}" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Why Arrow</a>
            <ul class="dropdown-menu {{page.dropdown}}">
              {% for why-arrow in site.pages %}
              {% if why-arrow.category == 'why-arrow' %}
              <li>
                <a href="{{site.baseurl}}{{why-arrow.url}}" class="dropdown-item fade-page">
                  {{ why-arrow.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Sales Training</a>
            <ul class="dropdown-menu {{page.dropdown}}">
              {% for sales-training in site.pages %}
              {% if sales-training.category == 'sales-training' %}
              <li>
                <a href="{{site.baseurl}}{{sales-training.url}}" class="dropdown-item fade-page">
                  {{ sales-training.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Sales Recruitment</a>
            <ul class="dropdown-menu {{page.dropdown}}">
              {% for sales-recruitment in site.pages %}
              {% if sales-recruitment.category == 'sales-recruitment' %}
              <li>
                <a href="{{site.baseurl}}{{sales-recruitment.url}}" class="dropdown-item fade-page">
                  {{ sales-recruitment.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">CRM</a>
            <ul class="dropdown-menu {{page.dropdown}}">
              {% for crm in site.pages %}
              {% if crm.category == 'crm' %}
              <li>
                <a href="{{site.baseurl}}{{crm.url}}" class="dropdown-item fade-page">
                  {{ crm.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Resources</a>
            <ul class="dropdown-menu {{page.dropdown}}">
              {% for resources in site.pages %}
              {% if resources.category == 'resources' %}
              <li>
                <a href="{{site.baseurl}}{{resources.url}}" class="dropdown-item fade-page">
                  {{ resources.title }}
                </a>
              </li>
              <li>
                <a href="https://arrowexec.talentlms.com" target="_blank" class="dropdown-item fade-page">
                  E-course
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Case Studies</a>
          <ul class="dropdown-menu {{page.dropdown}}">
            {% for studies in site.pages %}
            {% if studies.category == 'studies' %}
            <li>
              <a href="{{site.baseurl}}{{studies.url}}" class="dropdown-item fade-page">
                {{ studies.title }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        </ul>
      </div>
      <div class="offcanvas-header border-top border-light">
        <a href="{{site.url}}/contact" class="btn btn-primary w-100"  rel="noopener">
          <i class="bx bx-envelope fs-4 lh-1 me-1"></i>
          &nbsp;Contact
        </a>
      </div>      
    </div>
    <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{{site.baseurl}}/contact" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" rel="noopener">
      <i class="bx bx-envelope fs-5 lh-1 me-1"></i>
      &nbsp;Contact
    </a>
  </div>
</header>