<!-- NEW BUSINESS DEVELOPMENT (Steps) -->
<section class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5 pt-xl-5 ">
  <h2 class="h1 pb-2 pb-md-0 mb-4 mb-md-5 text-center ">5 steps of effective New Business Development</h2>
  <div class="steps steps-sm steps-horizontal-md pb-2 pb-sm-3">
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body">
        <h3 class="h5 mb-3">Strategic Sales Team Evaluation</h3>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body">
        <h3 class="h5 mb-3">Sales Strategy & Sales Process</h3>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body">
        <h3 class="h5 mb-3">Ideal Client Profile (ICP) & Sales Messaging</h3>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body">
        <h3 class="h5 mb-3">Sales Training & Sales Coaching</h3>
      </div>
    </div>
    <div class="step">
      <div class="step-number">
        <div class="step-number-inner">5</div>
      </div>
      <div class="step-body">
        <h3 class="h5 mb-3">Pipeline Development & CRMs</h3>
      </div>
    </div>
  </div>
</section>
