<!-- Why-us -->
<section class="container py-5 mx-auto my-2 my-md-4 my-lg-5" id="path-to-success">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">We’ve worked with many B2B companies to address common issues through a strategic approach that gets results, every time.</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">
    
  </p>
  <div class="row row-cols-1 row-cols-lg-4 g-4 pb-xl-3">
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/more-clients-a.svg" width="80" alt="More Clients Icon" />
      </div>
      <h3 class="text-primary">Obtain new clients</h3>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/new-sales.svg" width="73" alt="New Sales Icon" />
      </div>
      <h3 class="text-primary">Sell more products</h3>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/keys.svg" width="80" alt="Keys Icon" />
      </div>
      <h3 class="text-primary">Open new markets</h3>
    </div>
    <div class="col text-center px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/map.svg" width="80" alt="Map Icon" />
      </div>
      <h3 class="text-primary">Develop new areas</h3>
    </div>
  </div>
</section>
