<!-- new-business-steps-expanded -->
<section class="container pt-4 pt-lg-5 pb-4 pb-lg-5">
  <h2 class="h2 text-center pb-3 pb-md-0 mb-md-5 text-gradient-primary">The 5 steps of effective New Business Development</h2>
  <div class="steps">
    <div class="step pt-0 pt-md-3 pb-5">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/microscope_2.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">Strategic Sales Team Evaluation</h3>
          <p>
            We evaluate your people, systems and strategies to determine whether your salespeople belong in their current roles, meet your expectations and can
            execute your strategies.
          </p>
          <p class="mb-0">
            You’ll learn which of your existing salespeople could be performing two, three or even four times better. You’ll discover what you must do in order
            to help them achieve their potential.
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/process-circle.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="lg">
          <h3 class="h4">Sales Strategy & Sales Process</h3>
          <p>
            We use a reverse engineering approach, determining where you want to be then determining how to get there using a clearly defined step-by-step sales
            process.
          </p>
          <p class="mb-0">
            Having clear sales systems and processes in place has a direct effect on pipeline management, helping your sales team to qualify prospects early in
            the sales process, leaving time for other key activities.
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/icp.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">Ideal Client Profile & Sales Messaging</h3>
          <p>
            It’s essential to determine who your ideal client or customer is. An ideal client profile describes the customer you’re targeting in great detail,
            covering demographics, psychographics and behaviours.
          </p>
          <p>
            Once you’ve defined your ideal client or customer by using data, research and feedback, it’s crucial to train your sales team to help them recognise
            the ideal client. As a result, your salespeople will only pursue clients who are the most likely to convert.
          </p>
          <p class="mb-0">
            You’re now equipped to develop client-focused brand messaging that addresses your customers’ pain points. The result? A shorter sale cycle and more
            sales.
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/sales-training-coaching-b.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.6" data-disable-parallax-down="lg">
          <h3 class="h4">Sales Training & Coaching</h3>
          <p>
            Having identified your salespeople’s strengths and weaknesses, we can get to work designing a customised sales training plan for each team member. 
          </p>
          <p>
            In addition, we offer 1:1 sales coaching to reinforce concepts learned in sales training and ensure stronger accountability. These weekly1:1 meetings are focused on pipeline development and meeting leading KPIs. 
          </p>
          <p class="mb-0">
            Having identified your salespeople’s strengths and weaknesses, we can get to work designing a customised sales training plan for each team member. 
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">5</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/pipeline.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.6" data-disable-parallax-down="lg">
          <h3 class="h4">Pipeline Development & CRMs</h3>
          <p>
            We work with your sales team to develop a strong sales culture that’s built around pipeline development and CRM alignment with the focus on creating new opportunities. 
          </p>
          <p>
            Many salespeople have become comfortable in their roles and spend most of their time doing non-sales related activities or over-servicing existing clients instead of picking up the phone. They avoid prospecting like the plague because they’ve never been trained how to do it effectively. 
          </p>
          <p class="mb-0">
            We partner with Membrain, the sales enablement CRM that reinforces the behaviours needed to consistently win B2B sales.  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
