<!-- new-business-steps-expanded -->
<section class="container pt-4 pt-lg-5 pb-4 pb-lg-5">
  <h2 class="h2 text-center pb-3 pb-md-0 mb-md-5 text-gradient-primary">How it works</h2>
  <p class="lead">We’ll train your new salespeople to do the following.</p>
  <div class="steps">
    <div class="step pt-0 pt-md-3 pb-5">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/icp-2.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">Create an Ideal Customer Profile</h3>
          <p>We’ll work with you to build a milestone-centric sales process that’s aligned to your Ideal Client Profile (ICP) and CRM pipeline that creates accountability.
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/experience.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="lg">
          <h3 class="h4">Understand current clients</h3>
          <p>By profiling your ideal clients, your messaging becomes focused on value instead of price.</p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/recruit.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">Qualify new prospects </h3>
          <p>
            We will guide your sales team to qualify prospects early in the sales process, leaving time for other key activities. 
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/messaging.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.6" data-disable-parallax-down="lg">
          <h3 class="h4">Develop effective sales messaging</h3>
          <p>
            Defining an ideal client persona or ideal customer avatar helps you develop your brand messaging and increases the effectiveness of your sales and marketing efforts. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
