<!-- our-team -->
<hr>
<section class="container bg-secondary py-5 my-2 my-md-4 my-lg-5">
  <div class="pt-md-1 pt-lg-3">
    <h2 class="h1 mb-4 mb-md-0 me-md-3 text-center">Our Team</h2>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mt-2 mt-lg-4 d-flex justify-content-center">
    <!-- Item -->
    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="{{site.baseurl}}/assets/img/team/jason-howes.jpg" class="rounded-3" alt="Jason Howes" />
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/jason-howes-08507360/" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/arrowexecsales/" class="btn btn-icon btn-secondary btn-instagram btn-sm bg-white">
                <i class="bx bxl-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Jason Howes</h3>
          <p class="fs-sm mb-0">Founder and Managing Director</p>
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="col">
      <div class="card card-hover border-0 bg-transparent">
        <div class="position-relative">
          <img src="{{site.baseurl}}/assets/img/team/nicole-owens.jpg" class="rounded-3" alt="Nicole Owens" />
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-primary opacity-35 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="https://www.linkedin.com/in/nicole-owens-5136aa2a/?originalSubdomain=au" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/arrowexecsales/" class="btn btn-icon btn-secondary btn-instagram btn-sm bg-white">
                <i class="bx bxl-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">Nicole Owens</h3>
          <p class="fs-sm mb-0">Sales Evaluation and Recruitment Manager</p>
        </div>
      </div>
    </div>
  </div>
</section>
