<!-- What we offer -->
<section class="overflow-hidden pt-md-2 pt-lg-3 pb-3 pb-md-4 pb-xl-5">
  <div class="container">
    <div class="d-flex flex-column flex-md-row flex-md-nowrap align-items-start">
      <div class="ps-0 pe-lg-4 mb-5 mb-md-0">
        <div>
          <h2 class="h1 pb-3 mb-2 mb-md-3">Our Values</h2>
          <div class="row ">
            <div class="col pe-5 pt-1 pt-sm-2 pt-lg-3">
              <i class="bx bx-medal d-block fs-2 text-primary mb-2 mb-sm-3"></i>
              <h3 class="h4 pb-sm-1 mb-2">Excellence</h3>
              <p class="mb-0">We never settle for second best but aim to deliver exceptional customer service, going over and beyond. </p>
            </div>
            <div class="col pe-5 pt-1 pt-sm-2 pt-lg-3">
              <i class="bx bx-like d-block fs-2 text-primary mb-2 mb-sm-3"></i>
              <h3 class="h4 pb-sm-1 mb-2">Integrity</h3>
              <p class="mb-0">
                We always act with transparency regarding our services and fees, without any nasty surprises at the end.</p>
            </div>
            <div class="col pe-5 pt-1 pt-sm-2 pt-lg-3">
              <i class="bx bx-abacus d-block fs-2 text-primary mb-2 mb-sm-3"></i>
              <h3 class="h4 pb-sm-1 mb-2">Value</h3>
              <p class="mb-0">
                Value and commitment are second nature as we strive to become Australia’s leader in strategic sales development.</p>
            </div>
            <div class="col pe-5 pt-1 pt-sm-2 pt-lg-3">
              <i class="bx bx-bulb d-block fs-2 text-primary mb-2 mb-sm-3"></i>
              <h3 class="h4 pb-sm-1 mb-2">Innovation</h3>
              <p class="mb-0">
                We’ve partnered with industry leader Objective Management Group and Membrain to use their award-winning sales and marketing tools.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>