<!-- Evaluate -->
<section class="container pt-lg-5 mb-md-3 mb-lg-5 pb-5">
  <div class="row">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0 d-flex align-items-center">
      <div class="d-flex mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/evaluate-single.svg" class="page-icon" width="400" alt="Evaluate Icon" />
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="display-4 mb-0 text-primary">Evaluate</h2>
      <h3 class="h3">Strategic Analysis</h3>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        Drilling down into the root problems of why your sales team isn’t performing or struggling to increase sales is key.
        <mark>Properly diagnosing the cause of your sales challenges</mark> is essential to long-term success.
      </p>
      <div class="border rounded-3 mb-4 mb-lg-5">
        <div class="row row-cols-1 row-cols-sm-2 g-0">
          <div class="col d-flex align-items-center border-end-sm border-bottom p-3">
            <img src="{{site.baseurl}}/assets/img/services/icons/digital.svg" width="48" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Sales Management</h3>
            </div>
          </div>
          <div class="col d-flex align-items-center border-bottom p-3">
            <img src="{{site.baseurl}}/assets/img/services/icons/operations.svg" width="48" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Sales Strategy & Process</h3>
            </div>
          </div>
          <div class="col d-flex align-items-center border-end-sm p-3">
            <img src="{{site.baseurl}}/assets/img/services/icons/chart.svg" width="48" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Sales Training & Coaching</h3>
            </div>
          </div>
          <hr class="d-sm-none" />
          <div class="col d-flex align-items-center p-3">
            <img src="{{site.baseurl}}/assets/img/services/icons/cms.svg" width="48" alt="Icon" />
            <div class="ps-2 ms-1">
              <h3 class="h6 mb-0">Sales Enablement</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Develop -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
  <div class="row">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0 d-flex align-items-center order-md-2">
      <div class="d-flex mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/process.svg" class="page-icon" width="400" alt="strategic-process Icon" />
      </div>
    </div>
    <div class="col-md-6 order-md-1">
      <h2 class="display-4 mb-0 text-primary">Develop</h2>
      <h3 class="h3">Sales Strategy & Process</h3>
      <p class="d-xl-block">
        Developing an effective sales strategy and sales process provide the solid foundation for revenue growth and consistent sales performance.
      </p>
      <p class="d-xl-block">
        Most companies don’t have a defined sales strategy or sales process for their salespeople to follow. It’s a hit-and-miss approach that results in
        wasting time and money.
      </p>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        <mark>We take the time to develop a powerful sales strategy</mark> and analyse your current process to develop a comprehensive sales process that’s easy
        for your sales team to understand and execute. Coupled with an innovative CRM and sales enablement tool created for salespeople, we get the basics right
        to take your sales team to the next level.
      </p>
      <div class="d-flex flex-column flex-sm-row">
        <a href="{{site.baseurl}}/sales-training/sales-strategy" class="btn btn-outline-primary mb-3 mb-sm-0 me-sm-3"
          >Develop our sales strategy <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
        </a>
        <a href="{{site.baseurl}}/sales-training/sales-process" class="btn btn-outline-primary">
          Transform our sales process
          <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Grow -->
<section class="container pt-lg-5 mb-md-3 mb-lg-5 pb-5">
  <div class="row">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0 d-flex align-items-center">
      <div class="d-flex mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/growth-arrows.svg" class="page-icon" width="400" alt="Evaluate Icon" />
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="display-4 mb-0 text-primary">Grow</h2>
      <h3 class="h3">Sales Enablement</h3>
      <p class="d-xl-block">
        Your sales team needs the right tools for the job to get the results you want. Sales enablement is the path to sales effectiveness by helping you cut
        through the noise and focus on what’s important.
      </p>
      <p class="d-xl-block">
        We’ve partnered with Membrain to provide you with a complete B2B Sales Enablement CRM to
        <mark>execute and optimise your sales strategy to gain a competitive advantage.</mark>
      </p>
      <p class="d-xl-block">
        Membrain’s innovative CRM powerfully aligns sales strategy, sales process, sales training and coaching, and sales enablement technology.
      </p>
      <div class="d-flex flex-column flex-sm-row">
        <a href="{{site.baseurl}}/crm/sales-enablement" class="btn btn-outline-primary mb-3 mb-sm-0 me-sm-3"
          >Help us with sales enablement <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Execute -->
<section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
  <div class="row">
    <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0 d-flex align-items-center order-md-2">
      <div class="d-flex mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/sales-training-coaching_b1.svg" class="page-icon" width="400" alt="strategic-process Icon" />
      </div>
    </div>
    <div class="col-md-6 order-md-1">
      <h2 class="display-4 mb-0 text-primary">Execute</h2>
      <h3 class="h3">Training & Coaching</h3>
      <p class="d-xl-block">
        Yes, we know it’s a cliché but your people are your greatest assets.
        <mark>Investing in personalised sales training and coaching is essential to develop skilled sales leadership.</mark>
      </p>
      <p class="d-xl-block">
        Let’s face it, most sales managers never received sales training and don’t know how to coach their sales team. They ended up in sales because of their
        industry experience, or they were good at selling.
      </p>
      <p class="d-xl-block pb-2 pb-md-3 mb-3">
        We tailor our sales training and coaching because we know a one-size-fits-all approach doesn’t cut it. Having analysed the strengths and weaknesses of
        your salespeople, we design a personalised training program that gets results.
      </p>
      <div class="d-flex flex-column flex-sm-row">
        <a href="{{site.baseurl}}/sales-training/sales-coaching" class="btn btn-outline-primary">
          I need sales coaching
          <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i>
        </a>
      </div>
    </div>
  </div>
</section>
