
<section class="header-1 section-rotate text-light pt-5">
  <div class="section-inner bg-gradient-dark"></div>
  <div class="container">
    <div class="row d-none d-sm-block pt-lg-3 mt-lg-3">
      <div class="col">{% include breadcrumb.html %}</div>
    </div>
  </div>

  <!-- Hero container -->

  <div class="container py-5 pt-lg-6 pt-4 d-flex align-items-center zindex-100">
    <div class="row align-items-center mx-auto pb-2 mb-md-2 mt-lg-5 pt-xl-1 py-4 mb-4 mt-5 pt-sm-4">
      <div class="col-lg-8">
        <div>
          <h1 class="display-1 mb-4 text-primary">{{page.heading}}</h1>
          <p class="lead text-white">{{page.intro}}</p>
        </div>
      </div>
      <div class="col-lg-4 text-center d-none d-sm-block">
        <img src="{{site.baseurl}}/assets/img/icons/{{page.icon}}" width="90%" style="mx-auto" alt="{{page.icon}}" />
      </div>
    </div>
  </div>
</section>
