<section class="header-1 section-rotate text-light">

  <div class="section-inner bg-gradient-dark"></div>
  {% include breadcrumb.html %}

  <!-- Hero container -->
  <div class="container py-5 pt-lg-6 pt-4 d-flex align-items-center zindex-100">
      <div class="row align-items-center mx-auto">
        <div class="col-lg-8">
          <div>
            <h1 class="display-1 mb-4 text-primary">{{page.heading}}</h1>
            <p class="lead text-white">{{page.intro}}</p>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <img src="{{site.baseurl}}/assets/img/icons/{{page.icon}}" width="90%" style="mx-auto" alt="{{page.icon}}" />

        </div>
      </div>
  </div>
</section>