<section class="jarallax dark-mode bg-dark py-xxl-5" data-jarallax data-speed="0.4">
  <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-dark-translucent"></span>
  <div class="jarallax-img" style="background-image: url({{site.baseurl}}/assets/img/team/arrow-exec.jpg);">
  </div>
  <div class="position-relative text-center zindex-5 overflow-hidden pt-4 py-md-5">
    <!-- Slider controls (Prev / next) -->
    <button
      type="button"
      id="hero-prev"
      class="btn btn-prev btn-icon btn-xl bg-transparent shadow-none position-absolute top-50 start-0 translate-middle-y d-none d-md-inline-flex ms-n3 ms-lg-2"
    >
      <i class="bx bx-chevron-left fs-1"></i>
    </button>
    <button
      type="button"
      id="hero-next"
      class="btn btn-next btn-icon btn-xl bg-transparent shadow-none position-absolute top-50 end-0 translate-middle-y d-none d-md-inline-flex me-n3 me-lg-2"
    >
      <i class="bx bx-chevron-right fs-1"></i>
    </button>

    <!-- Slider -->
    <div class="container text-center py-xl-5">
      <div class="row justify-content-center pt-lg-5">
        <div class="col-xl-8 col-lg-9 col-md-10 col-11">
          <div
            class="swiper pt-5 pb-4 py-md-5"
            data-swiper-options='{
            "effect": "fade",
            "speed": 500,
            "autoplay": {
              "delay": 5500,
              "disableOnInteraction": false
            },
            "pagination": {
              "el": ".swiper-pagination",
              "clickable": true
            },
            "navigation": {
              "prevEl": "#hero-prev",
              "nextEl": "#hero-next"
            }
          }'
          >
            <div class="swiper-wrapper">
              <!-- Item -->
              <div class="swiper-slide">
                <h2 class="display-2 from-start mb-lg-4">Our B2B success stories</h2>
                <div class="from-end">
                  <p class="fs-xl text-light opacity-70 pb-2 mb-lg-5">
                    Backed by 30+ years’ sales experience, we are Australia’s leading experts in strategic sales development. 
                  </p>
                </div>
                <div class="scale-up delay-1">
                  <a href="#case-study" data-scroll class="btn btn-primary shadow-primary btn-lg">View case studies</a>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide">
                <h2 class="display-1 from-start mb-lg-4">Sales Recruitment Experts </h2>
                <div class="from-end">
                  <p class="fs-xl text-light opacity-70 pb-2 mb-lg-5">
                   We will identify the skill sets of people that will suit the skill sets of your positions.
                  </p>
                </div>
                <div class="scale-up delay-1">
                  <a href="#case-study" data-scroll class="btn btn-primary shadow-primary btn-lg">View case studies</a>
                </div>
              </div>

            </div>

            <!-- Pagination (bullets) -->
            <div class="swiper-pagination position-relative d-md-none pt-2 mt-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-column flex-sm-row align-items-center justify-content-between position-relative zindex-5 pb-5">
    <div class="d-flex mb-4 mb-sm-0">
      <a href="https://www.linkedin.com/in/jason-howes-08507360/" class="btn btn-icon btn-secondary btn-linkedin rounded-circle me-2">
        <i class="bx bxl-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/arrowexecsales/" class="btn btn-icon btn-secondary btn-facebook rounded-circle me-2">
        <i class="bx bxl-instagram"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCxWK79DPpvpcKgYDEHevquQ/featured" class="btn btn-icon btn-secondary btn-youtube rounded-circle me-2">
        <i class="bx bxl-youtube"></i>
      </a>
    </div>
    <a href="#case-study" class="nav-link px-0" data-scroll>
      Our case studies
      <i class="bx bx-right-arrow-circle fs-4 ms-2"></i>
    </a>
  </div>
</section>


