<!-- Post title + Meta  -->
<section class="container mt-4 pt-lg-2 pb-3">
  <h1 class="pb-3" style="max-width: 970px">{{page.title}}</h1>
  <div class="d-flex flex-md-row flex-column align-items-md-center justify-content-md-between mb-3">
    <div class="d-flex align-items-center flex-wrap text-muted mb-md-0 mb-4">
      <div class="fs-xs border-end pe-3 me-3 mb-2">
        <span class="badge bg-faded-primary text-primary fs-base">{{page.category}}</span>
      </div>
      <div class="fs-sm border-end pe-3 me-3 mb-2">{{ page.date | date: "%a, %b %d, 20%y" }}</div>
    </div>
    <div class="d-flex align-items-center position-relative ps-md-3 pe-lg-5 mb-2">
      <img src="{{site.baseurl}}/{{page.avatar}}" class="rounded-circle" width="60" alt="Avatar" />
      <div class="ps-3">
        <h6 class="mb-1">Author</h6>
        <a href="#" class="fw-semibold stretched-link">{{page.author}}</a>
      </div>
    </div>
  </div>
</section>

<!-- Post image (parallax) -->
<div class="jarallax mb-lg-5 mb-4" data-jarallax data-speed="0.35" style="height: 36.45vw; min-height: 300px">
  <div class="jarallax-img" style="background-image: url({{page.image}});"></div>
</div>
<!-- Post content + Sharing -->
<section class="container mb-5 pt-4 pb-2 py-mg-4">
  <div class="row gy-4">
    <!-- Content -->
    <div class="col-lg-9">{{page.content}}</div>

    <!-- Sharing -->
    <div class="col-lg-3 position-relative">
      <div class="sticky-top ms-xl-5 ms-lg-4 ps-xxl-4" style="top: 105px !important">
        <span class="d-block mb-3">5 min read</span>
        <h6>Share this post:</h6>
        <div class="mb-4 pb-lg-3">
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{site.baseurl}}/{{page.url}}" class="btn btn-icon btn-secondary btn-linkedin me-2 mb-2">
            <i class="bx bxl-linkedin"></i>
          </a>
          <a href="https://facebook.com/sharer.php?u={{site.baseurl}}/{{page.url}}&quoute{{page.title}}" class="btn btn-icon btn-secondary btn-facebook me-2 mb-2">
            <i class="bx bxl-facebook"></i>
          </a>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{site.baseurl}}/{{page.url}}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="btn btn-icon btn-secondary btn-twitter me-2 mb-2">
            <i class="bx bxl-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
