<!-- Why-us -->
<section class="container mx-auto pb-5" id="discover-more">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Why use a Sales Team Evaluation?</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3"></p>
  <div class="row row-cols-1 row-cols-lg-4 g-4 pb-xl-3">
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/team-evaluate.svg" width="80" alt="team-evaluate Icon" />
      </div>
      <h3 class="text-primary">Global Best
        Practice</h3>
      <p>Access sales-specific data to compare your sales team to 2.2m others
      </p>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/recruit-right.svg" width="80" alt="leadership Icon" />
      </div>
      <h3 class="text-primary">Right People,
        Right Roles</h3>
      <p>Figure out if your sales team members are in the right role</p>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/strategic-analysis.svg" width="80" alt="strategic-analysis Icon" />
      </div>
      <h3 class="text-primary">Strategic
        Analysis</h3>
        <p>
          Pull back the covers on sales leadership
           & sales management</p>
    </div>
    <div class="col text-center px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/action-plan.svg" width="80" alt="recruit Icon" />
      </div>
      <h3 class="text-primary">Action <br class="d-none d-sm-block " />
        Plan</h3>
      <p>Develop an actionable plan for performance improvement & execution
      </p>
    </div>
  </div>
  <!-- <div class="d-flex flex-column flex-sm-row justify-content-center pt-3 pt-sm-4">
    <a href="{{site.baseurl}}/sales-training/sales-team-evaluations" class="btn btn-dark shadow-dark btn-lg">More about Sales Team Evaluation <i class="bx bx-right-arrow-alt fs-xl ms-2 me-n1"></i></a>
  </div> -->
</section>
