<!-- Why-us -->
<section class="container py-5 mx-auto my-2 my-md-4 my-lg-5" id="discover-more">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Benefits of developing Sales Management</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">
    
  </p>
  <div class="row row-cols-1 row-cols-lg-4 g-4 pb-xl-3">
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/priority.svg" width="80" alt="Priority Icon" />
      </div>
      <h3 class="text-primary">Make sales effectiveness a priority 
      </h3>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/partnership.svg" width="93" alt="partnership Icon" />
      </div>
      <h3 class="text-primary">
        Build an 
        outcome-focused sales culture</h3>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/kpi.svg" width="90" alt="kpi Icon" />
      </div>
      <h3 class="text-primary">
        Maximise sales team performance </h3>
    </div>
    <div class="col text-center px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/recruit.svg" width="90" alt="recruit Icon" />
      </div>
      <h3 class="text-primary">Learn to recruit like an expert and hire with confidence</h3>
    </div>
  </div>
</section>
