<!-- new-business-steps-expanded -->
<section id="discover-more">
<div class="container pt-4  pb-4 pb-lg-5 pt-xl-5 mb-xl-5">
  <h2 class="h1 text-center pb-3 pb-md-0 mb-md-5 text-gradient-primary pt-xl-5">Sales Coaching with a difference</h2>
  <div class="steps">
    <div class="step pt-0 pt-md-3 pb-5">
      <div class="step-number">
        <div class="step-number-inner">1</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/microscope_2.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">Evaluate sales team</h3>
          <p>
            We don’t use a band-aid approach but first diagnose the challenges your sales team is facing. Using the award-winning Sales Team Evaluation tool by Objective Management Group, we analyse each of your team members’ strengths and weaknesses.  
          </p>
          <p class="mb-0">
            We’ll compare your sales team to 2.2m others across 200 industries in 152 countries using unbiassed and predictive sales-specific data. 
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">2</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/whistle.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="lg">
          <h3 class="h4">Coach the coach</h3>
          <p>
            Many sales leaders and managers ended up in sales management because of their industry experience or they were good at selling because they had all the good clients. Some were thrown in the deep end without any training or development. Yet they’re expected to coach their sales team and teach them skills they’ve never been taught. 
          </p>
          <p class="mb-0">
            Our Arrow Partnership Program is the perfect choice if you’re interested in building a long-term partnership for success. We become a vital part of your sales team, supporting you all the way while delivering the most value. 
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">3</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.3" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/build.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.4" data-disable-parallax-down="lg">
          <h3 class="h4">Build the right team</h3>
          <p>
            Having the right people in the right roles is essential to create and win more new business opportunities. It’s essential to determine whether you need sales hunters or account managers. 
          </p>
          <p>
            It might be necessary to recruit another sales professional to fill a certain position. We can help with sales candidate assessments, sales recruitment and onboarding.
          </p>
          <p class="mb-0">
            We specialise in sales recruitment, using the award-winning Sales Candidate Assessment tool by Objective Management Group. This world-class method saves you 20 hours per hire and you’ll only interview candidates who can and will do the job. 
          </p>
        </div>
      </div>
    </div>
    <div class="step pt-0 pt-md-4 pb-5">
      <div class="step-number">
        <div class="step-number-inner">4</div>
      </div>
      <div class="step-body d-flex align-items-center ps-xl-5">
        <div class="rellax d-none d-lg-block flex-shrink-0 mx-4 mx-xl-5" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="lg">
          <img src="{{site.baseurl}}/assets/img/icons/sales-training.svg" class="d-dark-mode-none" width="150" alt="Illustration" />
        </div>
        <div class="rellax ps-md-4 ps-xl-5" data-rellax-percentage="0.5" data-rellax-speed="0.6" data-disable-parallax-down="lg">
          <h3 class="h4">Develop sales training</h3>
          <p>
            Equipped with detailed, science-backed data, we develop a tailored sales training and coaching program to help you build the best sales team with a growth mindset.  
          </p>
          <p class="mb-0">
            Forget about a generalised training program that treats everyone the same. We recommend sales training that’s specific, targeted and effective, complemented with personalised coaching and focused on creating new business opportunities. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>