<!-- Small horizontal steps -->
<!-- Convert steps to horizontal layout on certain breakpoint by adding steps-horizontal-sm, steps-horizontal-md, steps-horizontal-lg, steps-horizontal-xl, steps-horizontal-xxl -->
<section class="container py-5 my-5">
    <div class="offset-2 col-8">
        <h2 class="pb-2 text-center">Arrow 6-step Sales Process</h2>
        <p class="text-muted fs-lg mb-2 pb-2 text-center">A professionally developed sales process empowers your salespeople to sell value over price, using consultative selling techniques by qualifying prospects early to save wasting time.  </p>
    </div>

    <div class="steps steps-sm steps-horizontal-md steps-center">

        <!-- Step 1 -->
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">1</div>
          </div>
          <div class="step-body">
            <h5 class="mb-2">Sales Team Evaluation</h5>
          </div>
        </div>
      
        <!-- Step 2-->
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">2</div>
          </div>
          <div class="step-body">
            <h5 class="mb-2">Sales Strategy</h5>
          </div>
        </div>
      
        <!-- Step 3 -->
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">3</div>
          </div>
          <div class="step-body">
            <h5 class="mb-2">Sales Process</h5>
          </div>
        </div>
        <!-- Step 4 -->
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">4</div>
          </div>
          <div class="step-body">
            <h5 class="mb-2">Sales Leadership</h5>
          </div>
        </div>
      
        <!-- Step 5-->
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">5</div>
          </div>
          <div class="step-body">
            <h5 class="mb-2">Recruitment</h5>
          </div>
        </div>
      
        <!-- Step 6 -->
        <div class="step">
          <div class="step-number">
            <div class="step-number-inner">6</div>
          </div>
          <div class="step-body">
            <h5 class="mb-2">Sales Coaching</h5>
          </div>
        </div>
      </div>
</section>
