<!-- Why-us -->
<section class="container py-5 mx-auto my-2 my-md-4 my-lg-5" id="discover-more">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Your path to sales success</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">
    Only an in-depth analysis or assessment of your sales team is going to reveal what’s working and what isn’t.
  </p>
  <div class="row row-cols-1 row-cols-lg-4 g-4 pb-xl-3">
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/team-evaluate.svg" width="80" alt="Evaluate Icon" />
      </div>
      <h3 class="text-primary">EVALUATE</h3>
      <h4>Strategic Analysis</h4>
      <p class="mb-2 mb-lg-0">Create a high-performance sales culture.</p>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/strategic-process.svg" width="80" alt="Strategic Process Icon" />
      </div>
      <h3 class="text-primary">DEVELOP</h3>
      <h4>Sales Strategy</h4>
      <p class="mb-2 mb-lg-0">Develop an effective sales process.</p>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/grow-a.svg" width="80" alt="Grow Icon" />
      </div>
      <h3 class="text-primary">GROW</h3>
      <h4>Sales Enablement</h4>
      <p class="mb-2 mb-lg-0">Transform your sales team.</p>
    </div>
    <div class="col text-center px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/sales-training-coaching-b.svg" width="80" alt="Execute Icon" />
      </div>
      <h3 class="text-primary">EXECUTE</h3>
      <h4>Training & Coaching</h4>
      <p class="mb-2 mb-lg-0">Align sales & marketing.</p>
    </div>
  </div>
</section>
