<section class="py-5 my-5">
  <div class="container">
    <div class="row">
      <!-- Video button on top of the image -->
      <div class="position-relative bg-size-cover bg-position-center py-5" style="background-image: url({{site.baseurl}}/assets/img/omg/omg-video.png)">
        <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-60"></span>
        <div class="position-relative text-center zindex-5 px-3 py-4 py-sm-5 my-lg-5">
          <a href="https://www.youtube.com/watch?v=OCKZZPy12hI" class="btn btn-video btn-icon bg-white btn-xl mb-2" data-bs-toggle="video">
            <i class="bx bx-play"></i>
          </a>
          <div class="fs-sm text-white opacity-75">Click me to watch video</div>
        </div>
      </div>
    </div>
  </div>
</section>

