<!-- Why-us -->
<section class="container py-5 mx-auto my-2 my-md-4 my-lg-5" id="discover-more">
  <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Why use a Sales Team Evaluation?</h2>
  <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3"></p>
  <div class="row row-cols-1 row-cols-lg-4 g-4 pb-xl-3">
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/growth-mind.svg" width="58" alt="Illustration" />
      </div>
      <h3 class="text-primary">Global Best Practice</h3>
      <p>Access sales-specific data to compare your sales managers to 2.2m others</p>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/confidence.svg" width="78" alt="Illustration" />
      </div>
      <h3 class="text-primary">Right People, Right Roles</h3>
      <p>Figure out if your sales managers and leaders are in the right role</p>
    </div>
    <div class="col text-center border-end px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/more-clients-a.svg" width="80" alt="Illustration" />
      </div>
      <h3 class="text-primary">Strategic Analysis</h3>
      <p>Pull back the covers on sales leadership & sales management</p>
    </div>
    <div class="col text-center px-5">
      <div class="card d-table border-0 p-3 mx-auto">
        <img src="{{site.baseurl}}/assets/img/icons/win.svg" width="80" alt="Illustration" />
      </div>
      <h3 class="text-primary">Develop an Action Plan</h3>
      <p>Develop an actionable plan for performance improvement & execution</p>
    </div>
  </div>
</section>
