<!-- The Arrow Difference -->
<section class="container py-5 my-2 my-md-4 my-lg-5" id="discover-more">
    <h2 class="h1 text-center pt-1 pt-xl-3 mb-lg-4"> Sales Talent Acquisition Routine enables you to:
    </h2>
    <div class="swiper mx-n2" data-swiper-options='{
      "slidesPerView": 1,
      "spaceBetween": 8,
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
      },
      "breakpoints": {
        "500": {
          "slidesPerView": 2
        },
        "800": {
          "slidesPerView": 3
        },
        "1200": {
          "slidesPerView": 4
        }
      }
    }'>
      <div class="swiper-wrapper">

        <!-- Item -->
        <div class="swiper-slide h-auto py-3">
          <div class="card h-100 card-body card-hover mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/recruitment-a.svg" width="80" alt="recruit icon" />
            <h3 class="h5 pt-3 pb-1 mb-2">Recruit</h3>
            <p class="mb-0">Recruit like an expert with confidence.

                </p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide h-auto py-3">
          <div class="card h-100 card-body card-hover mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/certified.svg" width="85" alt="certified icon" />
            <h3 class="h5 pt-3 pb-1 mb-2">Certify</h3>
            <p class="mb-0">Become certified with Sales Talent Acquisition Routine Expert.</p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide h-auto py-3">
          <div class="card h-100 card-body card-hover mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/science.svg" width="80" alt="Science" />
            <h3 class="h5 pt-3 pb-1 mb-2">Save Money</h3>
            <p class="mb-0">Save money by bringing recruitment back in-house.
            </p>
          </div>
        </div>

        <!-- Item -->
        <div class="swiper-slide h-auto py-3">
          <div class="card h-100 card-body card-hover mx-2">
            <img src="{{site.baseurl}}/assets/img/icons/qualify.svg" width="80" alt="Qualify Icon" />
            <h3 class="h5 pt-3 pb-1 mb-2">Qualify</h3>
            <p class="mb-0">Attract quality candidates and assess them.</p>
          </div>
        </div>
      </div>

      <!-- Pagination (bullets) -->
      <div class="swiper-pagination position-relative d-xl-none pt-3 mt-4"></div>
    </div>

  </section>