<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Urbaine",
        "image": [
            "#",
        ],
        "@id": "",
        "url": "https://urbaine.au",
        "telephone": "0418 748 892",
        "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
            ],
            "opens": "09:00",
            "closes": "17:00"
        },
        "sameAs": [
            "",
            "https://www.instagram.com/urbainecommunications/",
        ]
    }
</script>