<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Creative Homes",
        "image": [
            "https://creativehomes.com.au/assets/images/projects/creative_homes_tree_house_5.webp",
            "https://creativehomes.com.au/assets/images/projects/creative_homes_little_tree-3.webp",
            "https://creativehomes.com.au/assets/images/projects/creative_homes_tally_connection_2.webp",
            "https://creativehomes.com.au/assets/images/projects/creative_homes_wilarimbam_rd-3.webp",
            "https://creativehomes.com.au/assets/images/projects/creative_homes_koombahla_1.jpg",
        ],
        "@id": "",
        "url": "https://creativehomes.com.au",
        "telephone": "0410 616 036",
        "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday"
            ],
            "opens": "09:00",
            "closes": "17:00"
        },
        "sameAs": [
            "https://www.facebook.com/creativehomes/",
            "https://www.instagram.com/creative_homes_aus",
        ]
    }
</script>