<!-- Testimonials -->
<section
  class="py-5 mb-md-2"
  style="background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 241, 201, 0.1) 0%, rgba(70, 239, 214, 0.05) 41.83%, rgba(241, 253, 253, 0.07) 82.52%)"
>
  <div class="container py-lg-4">
    <div class="row py-md-3">
      <div class="col-xl-3 col-lg-4 pt-2">
        <h2 class="h1 text-center text-lg-start pb-2">What People Say About Arrow Executive Sales</h2>

        <!-- Slider prev/next buttons -->
        <div class="d-flex justify-content-center justify-content-lg-start pt-lg-5">
          <button type="button" id="prev-review" class="btn btn-prev btn-icon btn-sm me-3">
            <i class="bx bx-chevron-left"></i>
          </button>
          <button type="button" id="next-review" class="btn btn-next btn-icon btn-sm">
            <i class="bx bx-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-8 offset-xl-1 pt-4 mt-2 mt-md-3 mt-lg-0 pt-lg-0">
        <div class="px-2 px-sm-0">
          <div
            class="swiper mx-n2"
            data-swiper-options='{
                  "slidesPerView": 1,
                  "spaceBetween": 8,
                  "navigation": {
                    "prevEl": "#prev-review",
                    "nextEl": "#next-review"
                  },
                  "loop": true,
                  "breakpoints": {
                    "600": { "slidesPerView": 2 }
                  }
                }'
          >
            <div class="swiper-wrapper">
              <!-- Item -->
              <div class="swiper-slide h-auto pt-4 pb-3 px-2">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        We worked with Jason using Objective Management Group’s recruitment tool to secure quality sales professionals and identify key
                        personnel for a rapidly evolving market space.
                      </p>
                      <p class="fs-lg mb-0">We highly recommend his service and expertise.</p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/avatar/Jamie_Shedden.jpg" width="48" class="rounded-circle ms-n1" alt="Jamie Shedden" />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Jamie Shedden</h6>
                        <span class="fs-sm text-muted">Managing Director | Bellevue Group</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 px-2 pt-4">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        Jason provided a snapshot of our current business development activities and a profile of our salespeople. The value Jason provided went
                        over and beyond.
                      </p>
                      <p class="fs-lg mb-0">
                        I have no hesitation recommending Arrow to businesses looking to sharpen or expand their business development team.
                      </p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/avatar/Mike_Mortlock.jpg" width="48" class="rounded-circle ms-n1" alt="Mike Mortlock" />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Mike Mortlock</h6>
                        <span class="fs-sm text-muted">Managing Director | MCG Quantity Surveyors</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 px-2 pt-4">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        We initially reached out in February 2022 after hearing from an industry colleague how Arrow had assisted them in recruiting sales
                        personnel.
                      </p>
                      <p class="fs-lg mb-0">
                        We’ve been working with Jason and the Arrow team to offer customised
                        training to each team member while setting up optimum processes to assist them with each lead.
                      </p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/avatar/Brendan_Frost.jpg" width="48" class="rounded-circle ms-n1" alt="Brendan Frost" />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Brendan Frost</h6>
                        <span class="fs-sm text-muted">Project Manager</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 px-2 pt-4">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        The objective Management Group (OMG) sales candidate assessment tool was very efficient. We got a clear sense of each person’s core skills, and we got a report for each candidate that we could compare against each other very quickly. 
                      </p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/avatar/Will-Flesher.jpg" width="48" class="rounded-circle ms-n1" alt="Will Flesher" />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Will Flesher</h6>
                        <span class="fs-sm text-muted">Head of Client Consultation, Provider+</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Item -->
              <div class="swiper-slide h-auto pb-3 px-2 pt-4">
                <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
                  <div class="card h-100 position-relative border-0 shadow-sm pt-4">
                    <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
                      <i class="bx bxs-quote-left"></i>
                    </span>
                    <blockquote class="card-body pb-4 mb-0">
                      <div class="text-nowrap pt-1 mb-3">
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                        <i class="bx bxs-star text-warning"></i>
                      </div>
                      <p class="fs-lg mb-0">
                        We got in touch with Arrow after having a lot of trouble finding just the right fit for our sales recruitment in our business. Jason was able to find our unicorn and deliver! We were very happy with Jason's professionalism and all round service approach.  
                      </p>
                    </blockquote>
                    <div class="card-footer d-flex align-items-center border-0 pt-0">
                      <img src="assets/img/avatar/Lisa-Collis.jpg" width="48" class="rounded-circle ms-n1" alt="Lisa Collis" />
                      <div class="ps-2 ms-1">
                        <h6 class="fs-base fw-semibold mb-0">Lisa Collis</h6>
                        <span class="fs-sm text-muted">Operations Manager - Playscape Creations </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
