<section class="container mb-4">
    <div class="dark-mode bg-dark bg-size-cover bg-position-center bg-repeat-0 position-relative overflow-hidden rounded-3 py-lg-3 py-xl-5 px-4 px-lg-5 px-xl-0">
      <div class="row position-relative zindex-2 py-5 my-1 my-md-3">
        <div class="col-md-6">
          <div class="mx-auto" style="max-width: 440px;">
            <h2 class="display-2 pb-1 pb-md-3 text-primary">Giving back</h2>
            <h4>Sometimes it can help just to have someone to talk to.</h4>
            <p class="text-white">
                We’ve partnered with TIACS Alliance, a group of like-minded companies dedicated to starting conversations about mental health, and offering support to those who need it. 
            </p>
            <a href="https://www.tiacs.org" target="_blank" class="btn btn-lg btn-primary shadow-primary w-100 w-sm-auto">Check out TIACS</a>
          </div>
        </div>
        <div class="col-md-6 pt-lg-3 pt-xl-4">
          <img src="{{site.baseurl}}/assets/img/tiacs.png" alt="tiacs logo">
        </div>
      </div>
    </div>
  </section>