<main class="docs-container py-5">
    <div class="container-fluid px-xxl-5 px-lg-4 pt-4 pt-lg-5 pb-2 pb-lg-4">
      
      <!-- Page title -->
      <div class="d-sm-flex align-items-end justify-content-between ps-lg-2 ps-xxl-0 mt-2 mt-lg-0 pt-4 mb-n3">
        <div class="me-4">
          <h1 class="pb-1">Typography</h1>
          <p class="text-muted fs-lg mb-2">Headings, body text, lists, blockquotes and more.</p>
        </div>
      </div>
  
  
      <!-- Headings -->
      <section id="type-headings" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Headings</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview1" role="tabpanel">
            <h1>h1. Heading</h1>
            <hr class="my-0">
            <h2 class="pt-3">h2. Heading</h2>
            <hr class="my-0">
            <h3 class="pt-3">h3. Heading</h3>
            <hr class="my-0">
            <h4 class="pt-3">h4. Heading</h4>
            <hr class="my-0">
            <h5 class="pt-3">h5. Heading</h5>
            <hr class="my-0">
            <h6 class="pt-3 mb-0">h6. Heading</h6>
          </div>
        </div>
      </section>
  
  
      <!-- Display headings -->
      <section id="type-displays" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Display headings</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview2" role="tabpanel">
            <h1 class="display-1">Display 1</h1>
            <hr class="my-0">
            <h1 class="display-2 pt-3">Display 2</h1>
            <hr class="my-0">
            <h1 class="display-3 pt-3">Display 3</h1>
            <hr class="my-0">
            <h1 class="display-4 pt-3">Display 4</h1>
            <hr class="my-0">
            <h1 class="display-5 pt-3">Display 5</h1>
            <hr class="my-0">
            <h1 class="display-6 pt-3 mb-0">Display 6</h1>
          </div>
        </div>
      </section>
  
  
      <!-- Body text sizes -->
      <section id="type-body-text" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Body text sizes</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview3" role="tabpanel">
            <p class="fs-1"><span class="fw-bold">fs-1.&nbsp;</span>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-2"><span class="fw-bold">fs-2.&nbsp;</span>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-3"><span class="fw-bold">fs-3.&nbsp;</span>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-4"><span class="fw-bold">fs-4.&nbsp;</span>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-5"><span class="fw-bold">fs-5.&nbsp;</span>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-6"><span class="fw-bold">fs-6.&nbsp;</span>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="lead"> <span class="fw-bold">Lead.&nbsp;</span>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-lg"> <strong>Large.&nbsp;</strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p><strong>Normal.&nbsp;</strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-sm"><strong>Small.&nbsp;</strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
            <p class="fs-xs mb-md-0"><strong>Extra small.&nbsp;</strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</p>
          </div>
        </div>
      </section>
  
  
      <!-- Inline text elements -->
      <section id="type-inline" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Inline text elements</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview4" role="tabpanel">
            <p>You can use the mark tag to <mark>highlight</mark> text.</p>
            <p>
              <del>This line of text is meant to be treated as deleted text.</del>
            </p>
            <p>
              <s>This line of text is meant to be treated as no longer accurate.</s>
            </p>
            <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
            <p>
              <u>This line of text will render as underlined.</u>
            </p>
            <p><small>This line of text is meant to be treated as fine print.</small></p>
            <p><strong>This line rendered as bold text.</strong></p>
            <p><em>This line rendered as italicized text.</em></p>
            <p class="mb-0"><a href="#">Inline link</a></p>
          </div>
        </div>
      </section>
  
      <!-- Blockquote -->
      <section id="type-blockquote" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Blockquote</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview6" role="tabpanel">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </section>
  
  
      <!-- Lists: Unordered and ordered -->
      <section id="type-lists" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Lists: Unordered and ordered</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview7" role="tabpanel">
            <div class="row">
              <div class="col-sm-6">
                <ul class="mb-sm-0">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ol class="mb-0">
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipiscing elit</li>
                  <li>Integer molestie lorem at massa</li>
                  <li>Facilisis in pretium nisl aliquet</li>
                  <li>Nulla volutpat aliquam velit</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="html7" role="tabpanel">
            <pre class="line-numbers"><code class="lang-html">&lt;!-- Unordered list --&gt;
  &lt;ul&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
  &lt;li&gt;Integer molestie lorem at massa&lt;/li&gt;
  &lt;li&gt;Facilisis in pretium nisl aliquet&lt;/li&gt;
  &lt;li&gt;Nulla volutpat aliquam velit&lt;/li&gt;
  &lt;/ul&gt;
  
  &lt;!-- Ordered list --&gt;
  &lt;ol&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
  &lt;li&gt;Integer molestie lorem at massa&lt;/li&gt;
  &lt;li&gt;Facilisis in pretium nisl aliquet&lt;/li&gt;
  &lt;li&gt;Nulla volutpat aliquam velit&lt;/li&gt;
  &lt;/ol&gt;</code></pre>
          </div>
        </div>
      </section>
  
  
      <!-- Lists: Unstyled -->
      <section id="type-lists-unstyled" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Lists: Unstyled</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview8" role="tabpanel">
            <ul class="list-unstyled mb-0">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
            </ul>
          </div>
        </div>
      </section>
  
  
      <!-- Description list basic example -->
      <section id="type-description-list" class="border-bottom py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Description list basic example</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview10" role="tabpanel">
            <dl class="mb-0">
              <dt>Description lists</dt>
              <dd>A description list is perfect for defining terms.</dd>
              <dt>Malesuada porta</dt>
              <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
              <dt>Euismod</dt>
              <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
            </dl>
          </div>
        </div>
      </section>
  
  
      <!-- Description list alignment -->
      <section id="type-description-list-align" class="py-5 ps-lg-2 ps-xxl-0">
        <h2 class="h4">Description list alignment</h2>
        <div class="tab-content pt-1">
          <div class="tab-pane fade show active" id="preview11" role="tabpanel">
            <dl class="row mb-0">
              <dt class="col-sm-3">Description lists</dt>
              <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
              <dt class="col-sm-3">Euismod</dt>
              <dd class="col-sm-9">
                <p class="mb-2">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                <p class="mb-0">Donec id elit non mi porta gravida at eget metus.</p>
              </dd>
              <dt class="col-sm-3">Malesuada porta</dt>
              <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
              <dt class="col-sm-3 text-truncate">Long truncated term is truncated</dt>
              <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
              <dt class="col-sm-3">Nesting</dt>
              <dd class="col-sm-9">
                <dl class="row mb-0">
                  <dt class="col-sm-4">Nested definition list</dt>
                  <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat nunc augue.</dd>
                </dl>
              </dd>
            </dl>
          </div>
        </div>
      </section>
    </div>
  </main>