<!-- Why-us -->
      <section class="container py-5 mx-auto my-2 my-md-4 my-lg-5">
        <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Why use Sales Candidate Assessments? </h2>
        <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">This innovative approach uses science and data to take the guesswork out of recruitment and gets you the results you want. Look at candidates outside your industry to find talented people who can sell.</p>
        <div class="row row-cols-1 row-cols-lg-3 g-4 pb-xl-3">
          <div class="col text-center border-end px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/no1_1.svg" width="100" alt="Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">#1 rated Sales Assessment in the world 
 
            </h3>
          </div>
          <div class="col text-center border-end px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/filter.svg" width="92" alt="Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">Screen candidates using 21 core sales competencies</h3>
          </div>
          <div class="col text-center px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/look.svg" width="94" alt="Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">
              Accurate, predictive and simple 
              to use
            </h3>
          </div>
        </div>
      </section>