<!-- Why-us -->
      <section class="container py-5 mx-auto my-2 my-md-4 my-lg-5">
        <h2 class="h1 text-center pt-1 pt-xl-2 mb-4">Why Choose Us?</h2>
        <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">We’re sales training experts who offer a strategic approach to get you the results you want.</p>
        <div class="row row-cols-1 row-cols-lg-3 g-4 pb-xl-3">
          <div class="col text-center border-end px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/sales-culture.svg" width="100" alt="Sales Culture Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">Create a high-performance sales culture 
            </h3>
          </div>
          <div class="col text-center border-end px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/sales-team-growth.svg" width="100" alt="Sales Team Growth Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">Build the best sales team with a growth mindset</h3>
          </div>
          <div class="col text-center px-5">
            <div class="card d-table border-0 p-3 mx-auto">
              <img src="{{site.baseurl}}/assets/img/icons/more-clients.svg" width="100" alt="More Clients Icon">
            </div>
            <h3 class="h5 mb-2 mb-lg-0">Help you win more clients and close more deals
            </h3>
          </div>
        </div>
      </section>