// 
// user.scss
// Use this to write your custom SCSS
//
@media (max-width: 768px) {
    .home-img {
        width: 200px;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .page-icon {
        display: none;
    }
}

.svg-image {
background-image: url(../img/hero-bg.svg);
background-size: cover;
background-repeat: no-repeat;
}

.navbar-brand {
    margin-right: 2em !important;
}
.display-1 {
    line-height: 1 !important;
}
.display-2 {
    line-height: 1 !important;
}
.lead {
    font-size: 1.35em !important;
}
.vh-70 {
    height: 80vh !important;
  }



