// 
// user.scss
// Use this to write your custom SCSS
//

.bg-secondary {
    background-color: #fcf5f1 !important;
}
.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.1;
  }
  @media (min-width: 1200px) {
    .display-1 {
      font-size: 8rem;
    }
  }

  .brand img {
    width: 70%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
    opacity: 0.3;
  }
