
  @import url("https://use.typekit.net/yrv6wrx.css");
  @font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Neue Montreal";
    src: url("/assets/fonts/NeueMontreal-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

//   h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6,
// .display-1, .display-2, .display-3,
// .display-4, .display-5, .display-6 {
//   font-family: "kudryashev-d-contrast", sans-serif;
//   font-weight: bold
// }