<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <!-- Body -->
  <body>
    <!-- Page loading spinner -->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div>
        <span>Loading...</span>
      </div>
    </div>

    <!-- Page wrapper for sticky footer -->
    <!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
    <main class="page-wrapper zindex-5">
      <!-- {% include google.html %} -->
      {% include nav.html %}
      <div class="container">
        {% include breadcrumb.html %}
      </div>
      

			{% include post.html %}

      {% include contact-form.html %}
    </main>

    <!-- Footer -->
    {% include footer.html %}
    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
      <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
      <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>

    {% include scripts.html %}
  </body>
</html>


